<main class="national-id-verification" role="main" [attr.aria-label]="'form.verifyNationalIdTitle' | translate">
  <section class="national-id-verification__container">
    <form class="general-form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="general-form-wrapper__groups">

        <div class="general-form-wrapper__field">
          <div class="general-form-wrapper__label-group">
            <label for="nationalIdInput" class="general-form-wrapper__label">
              {{ 'form.nationalId.label' | translate }}<span class="general-form-wrapper__required">*</span>
            </label>
          </div>
          <div class="custom-input-wrapper"
            [class.p-invalid]="getFormControl('national_id').invalid && getFormControl('national_id').touched">
            <input id="nationalIdInput" type="text" formControlName="national_id" class="custom-input-wrapper__input"
              placeholder="{{ 'form.nationalId.placeholder' | translate }}" aria-required="true"
              (input)="onNationalIdInput($event)"
              [attr.aria-invalid]="getFormControl('national_id').invalid && getFormControl('national_id').touched ? 'true' : 'false'"
              aria-describedby="nationalIdError" autocomplete="one-time-code" maxlength="10" />
          </div>
          @if (getFormControl('national_id').invalid && getFormControl('national_id').touched) {
          <small id="nationalIdError" class="general-form-wrapper__error-message" role="alert">
            {{ getValidationErrorMessage('national_id') | translate }}
          </small>
          }
        </div>

        <div class="general-form-wrapper__field">
          <div class="general-form-wrapper__label-group">
            <label for="birthDateInput" class="general-form-wrapper__label">
              {{ 'form.birthDate.label' | translate }}<span class="general-form-wrapper__required">*</span>
            </label>
          </div>
          <div class="custom-input-wrapper p-0"
            [class.p-invalid]="getFormControl('birth_date').invalid && getFormControl('birth_date').touched">
            <p-datepicker id="birthDateInput" formControlName="birth_date" [showIcon]="true" iconDisplay="input"
              dateFormat="yy-mm-dd" [maxDate]="maxBirthDate" [readonlyInput]="true" [showTransitionOptions]="'0ms'"
              [hideTransitionOptions]="'0ms'" appendTo="body"
              class="custom-input-wrapper__input custom-input-wrapper__input--p-datepicker"
              placeholder="{{ 'form.birthDate.placeholder' | translate }}" aria-required="true"
              [attr.aria-invalid]="getFormControl('birth_date').invalid && getFormControl('birth_date').touched ? 'true' : 'false'"
              aria-describedby="birthDateError"></p-datepicker>
          </div>
          @if (getFormControl('birth_date').invalid && getFormControl('birth_date').touched) {
          <small id="birthDateError" class="general-form-wrapper__error-message" role="alert">
            {{ getValidationErrorMessage('birth_date') | translate }}
          </small>
          }
        </div>

      </div>

      <div class="general-form-wrapper__actions">
        <button id="skip-verification-btn" type="button" class="btn btn--outline" (click)="onSkip()"
          [disabled]="isLoading()" [attr.aria-label]="'general.Skip' | translate">
          <span class="btn__label">
            {{ 'skip' | translateApi }}
          </span>
        </button>

        <button id="submit-verification-btn" type="submit" class="btn btn--solid" [disabled]="isLoading()"
          [attr.aria-label]="isLoading() ? ('general.submitting' | translate) : ('form.verifyButtonAriaLabel' | translate)">
          <span class="btn__label">
            @if (isLoading()) {
            <div class="general-form-wrapper__loading" [attr.aria-label]="'in_progress' | translateApi"></div>
            {{ 'in_progress' | translateApi }}
            } @else {
            {{ 'confirm' | translateApi }}
            }
          </span>
        </button>
      </div>
    </form>
  </section>
</main>