<form [formGroup]="reelsForm" class="create-reels-form">
    <div class="create-reels-form__mood-input">
        <div class="p-relative">
            <textarea #textareaRef class="create-reels-form__mood-input__textarea"
                [attr.placeholder]="'talbinahCommunity.addReelsText' | translate" formControlName="content"
                [disabled]="isLoading()"></textarea>
            <div class="create-reels-form__inputs">
                <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*,video/*" multiple
                    class="hidden-file-input" />
                <div class="create-reels-form__mood-input__icon" [ngClass]="{'active':showEmojiPicker()}"
                    (click)="toggleEmojiPicker()">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" focusable="false">
                        <path
                            d="M6.98226 13.2707C3.52893 13.2707 0.711426 10.459 0.711426 6.99984C0.711426 3.54067 3.52893 0.729004 6.98226 0.729004C10.4356 0.729004 13.2531 3.54067 13.2531 6.99984C13.2531 10.459 10.4414 13.2707 6.98226 13.2707ZM6.98226 1.604C4.00726 1.604 1.58643 4.02484 1.58643 6.99984C1.58643 9.97484 4.00726 12.3957 6.98226 12.3957C9.95726 12.3957 12.3781 9.97484 12.3781 6.99984C12.3781 4.02484 9.95726 1.604 6.98226 1.604Z"
                            fill="#292D32" />
                        <path
                            d="M6.99977 11.2294C5.7456 11.2294 4.56727 10.6169 3.84977 9.58436C3.70977 9.38603 3.76227 9.11186 3.9606 8.9777C4.15893 8.8377 4.4331 8.8902 4.56727 9.08853C5.12143 9.88186 6.03143 10.3602 6.99977 10.3602C7.9681 10.3602 8.8781 9.8877 9.43227 9.08853C9.57227 8.8902 9.8406 8.84353 10.0389 8.9777C10.2373 9.1177 10.2839 9.38603 10.1498 9.58436C9.43227 10.6169 8.25393 11.2294 6.99977 11.2294Z"
                            fill="#292D32" />
                    </svg>
                </div>
            </div>
            @if (showEmojiPicker()) {
            <div class="emoji-picker-container" appClickOutside (clickOutside)="this.showEmojiPicker.set(false);">
                <app-emoji-picker (emojiSelected)="onEmojiPicked($event)" />
            </div>
            }
        </div>
    </div>
    <div class="create-reels-form__upload">
        <p class="create-reels-form__upload--title">
            {{'talbinahCommunity.attachments'|translate}}
        </p>
        <div class="create-reels-form__upload--button" (click)="addMedia()">
            <svg width="21" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M20 10.9696L11.9628 18.5497C10.9782 19.4783 9.64274 20 8.25028 20C6.85782 20 5.52239 19.4783 4.53777 18.5497C3.55315 17.6211 3 16.3616 3 15.0483C3 13.7351 3.55315 12.4756 4.53777 11.547M14.429 6.88674L7.00403 13.8812C6.67583 14.1907 6.49144 14.6106 6.49144 15.0483C6.49144 15.4861 6.67583 15.9059 7.00403 16.2154C7.33224 16.525 7.77738 16.6989 8.24154 16.6989C8.70569 16.6989 9.15083 16.525 9.47904 16.2154L13.502 12.4254M8.55638 7.75692L12.575 3.96687C13.2314 3.34779 14.1217 3 15.05 3C15.9783 3 16.8686 3.34779 17.525 3.96687C18.1814 4.58595 18.5502 5.4256 18.5502 6.30111C18.5502 7.17662 18.1814 8.01628 17.525 8.63535L16.5193 9.58287"
                        stroke="#0E39B6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
            <p class="create-reels-form__upload--button--text">
                {{'talbinahCommunity.addAttachment' |translate}}
            </p>
        </div>
        @if (showFilesRequiredError()) {
        <p class="create-reels-form__mood-input__error attachment-error">
            {{ 'talbinahCommunity.attachmentRequired' |translate }}</p>
        }
        <p class="create-reels-form__mood-input--media-hint">
            {{ 'talbinahCommunity.imageVideoDimensions' | translate }}
            500px * 300px
            {{ 'talbinahCommunity.px' | translate }}
            {{'talbinahCommunity.imageVideoMaxSize' | translate }}
        </p>
    </div>
    @if (imagePreviews().length > 0) {
    <div class="create-reels-form__media-previews-container">
        @for (previewUrl of imagePreviews(); track $index) {
        <div class="create-reels-form__media-preview-item">
            <button class="create-reels-form__media-preview-item__remove-btn" (click)="removeFile($index)">
                &times;
            </button>
            @if (isFileImage($index)) {
            <app-image-view [config]="{ title: 'Image Preview', image: previewUrl }"></app-image-view>
            } @else if (isFileVideo($index)) {
            <app-video-view [config]="{ title: 'Image Preview', video: previewUrl }"></app-video-view>
            }
        </div>
        }
    </div>
    }
    <div class="create-reels-form__post-classification-tabs">
        <app-post-classification [tabs]="tabs()" [selectedTabId]="selectedTabId" (tabSelected)="onTabSelected($event)">
        </app-post-classification>
    </div>

    <div class="create-reels-form--actions">
        <button id="cancel-btn" type="button" class="btn btn--outline" (click)="onCancel()" [disabled]="isLoading()">
            {{ 'talbinahCommunity.cancel' | translate }}
        </button>
        <button id="next-btn" type="submit" class="btn btn--solid" (click)="onSubmit()" [disabled]="isLoading()">
            @if(data?.itemToEdit){
            {{'general.edit' | translate }}
            }
            @else{
            {{'talbinahCommunity.shareNow' | translate }}
            }
            @if (isLoading()) {
            <span class="btn__spinner"></span>
            }
        </button>
    </div>
</form>