.wallet-confirmation {
    background: var(--Dark-WHITE, #fff);
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.75rem;
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        &--text {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            p {
                &:first-child {
                    color: var(--text-400);
                    font-size: 0.875rem;
                    font-weight: 600;
                }
                &:last-child {
                    color: var(--text-300);
                    font-size: 0.75rem;
                    font-weight: 500;
                }
            }
        }
        &--icon {
            display: flex;
            padding: 0.5rem;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            border-radius: var(--Radius-8);
            background: var(--Dark-50);
        }
    }
    &__information {
        border-radius: 1rem;
        border: 1px solid var(--Dark-50);
        display: flex;
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
        > div {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            &:first-child {
                p {
                    color: var(--text-400, #0f0f0f);
                    font-size: 0.75rem;
                    font-weight: 500;
                }
            }
        }
        &--subtotal,
        &--discount,
        &--tax,
        &--current-balance,
        &--subscription,
        &--remaining-balance {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            p {
                color: var(--text-400);
                font-size: 0.75rem;
                font-weight: 500;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
        &--discount {
            &--code {
                display: flex;
                flex-direction: row;
                gap: 0.75rem;
                p {
                    &:last-child {
                        display: flex;
                        padding: 0.25rem 0.4375rem;
                        border-radius: 0.25rem;
                        background: var(--Primary-50, #e7ebf8);
                    }
                }
            }
        }
        &--current-balance {
            p {
                color: var(--text-300, #47586e);
                font-size: 0.875rem;
                font-weight: 600;
            }
        }
        &--subscription {
            p {
                color: var(--text-400, #0f0f0f);
                font-size: 0.875rem;
                font-weight: 700;
            }
            &--value {
                display: flex;
                flex-direction: row;
                gap: 0.75rem;
                p {
                    &:first-child {
                        color: var(--Sacondry-Color-primary);
                        font-size: 0.75rem;
                        font-weight: 600;
                        text-decoration-line: line-through;
                    }
                    &:last-child {
                        color: var(--text-400, #0f0f0f);
                        font-size: 0.875rem;
                        font-weight: 600;
                    }
                }
            }
        }
        &--remaining-balance {
            p {
                color: var(--Primary-primary, #0e39b6);
                font-size: 0.875rem;
                font-weight: 600;
            }
        }
    }
    &--actions {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        padding-top: 1.5rem;
        &__btn {
            display: flex;
            height: 2.75rem;
            padding: var(--Radius-8) 2rem;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            border-radius: var(--Radius-8);
            font-size: 0.875rem;
            font-weight: 500;
            &--loading {
                display: flex;
                align-items: center;
            }

            .dot-loader::after {
                content: "";
                animation: dots 1.5s steps(4, end) infinite;
                white-space: pre;
            }

            @keyframes dots {
                0% {
                    content: "";
                }
                25% {
                    content: ".";
                }
                50% {
                    content: "..";
                }
                75% {
                    content: "...";
                }
                100% {
                    content: "";
                }
            }
            &.cancel {
                width: 8.5625rem;
                background: var(--Dark-100);
                color: inherit;
            }

            &.next {
                background: var(--Primary-primary);
                color: var(--Dark-WHITE);
            }
        }
    }
    .error {
        font-size: 0.8rem;
        color: red;
    }
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
