@use "../../../common/styles/scss/abstracts/mixins" as *;

.tabs {
    display: flex;
    gap: 1rem;
    padding: 0.375rem 0.625rem;
    max-width: 35.25rem;
    overflow-x: auto;

    .tab {
        cursor: pointer;
        font-weight: 400;
        color: var(--text-100);
        position: relative;
        transition: color 0.3s ease;
        font-size: 0.75rem;
        font-weight: 400;
        min-width: fit-content;

        &.active {
            color: var(--Primary-primary, #0e39b6);
            font-weight: 600;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: var(--Primary-primary, #0e39b6);
                position: absolute;
                bottom: -4px;
                left: 0;
            }
        }
    }
}
