@use "./../../../../../common/styles/scss/abstracts/general-form-wrapper.mixins" as form;
@use "./../../../../../common/styles/scss/abstracts/mixins" as *;
@use "./../../../../../common/styles/scss/abstracts/mixins" as responsive;

.new-reset-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background: var(--Dark-WHITE);
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        width: 95%;
    }

    &__welcome {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-title {
            font-weight: 600;
            font-size: 1.5rem;
            margin: 0;

            @include responsive.respond(sm) {
                font-size: 1.5rem;
            }
        }

        &-description {
            font-weight: 500;
            font-size: 14px;
            color: var(--text-300);
            margin: 0;

            @include responsive.respond(sm) {
                font-size: 0.8rem;
            }
        }
    }

    .general-form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__groups {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__field {
            @include form.general-form-wrapper-field;
        }

        &__label-group {
            @include form.general-form-wrapper-label-group;
        }

        &__label {
            @include form.general-form-wrapper-label;
        }

        &__required {
            @include form.general-form-wrapper-required;
        }

        &__error-message {
            @include form.general-form-wrapper-error;
        }

        .form-field {
            @include form.general-form-field;
        }

        &__actions {
            @include form.general-form-wrapper-actions;
            &__loading {
                display: flex;
                align-items: center;
            }

            .dot-loader::after {
                content: "";
                animation: dots 1.5s steps(4, end) infinite;
                white-space: pre;
            }

            @keyframes dots {
                0% {
                    content: "";
                }
                25% {
                    content: ".";
                }
                50% {
                    content: "..";
                }
                75% {
                    content: "...";
                }
                100% {
                    content: "";
                }
            }
        }

        &__loading {
            display: inline-block;
            animation: spin 1s linear infinite;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.custom-input-wrapper {
    display: flex;
    padding: 0rem 16px;
    align-items: center;
    gap: 0.5rem;
    height: 3.125rem;
    color: #a3adbb;
    font-size: 0.875rem;
    border-radius: 0.75rem;
    color: black;
    overflow: hidden;
    border: 1px solid #eeeeee;

    &.p-invalid {
        border: 1px solid red;
    }

    &__icon {
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 100%;

        &::placeholder {
            color: #a3adbb !important;

            font-size: 0.875rem !important;
            font-weight: 500 !important;
        }
    }

    &__input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: transparent;

        &::placeholder {
            color: #a3adbb;
            font-size: 0.875rem;
            font-weight: 500;
        }
    }

    &--with-icon {
        gap: 0.5rem;
    }

    &--icon-start {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .custom-input-wrapper__icon {
            order: 0;
        }
    }

    &--icon-end {
        flex-direction: row-reverse;

        .custom-input-wrapper__icon {
            order: 1;
        }
    }
}
