<main class="new-reset-password" role="main">
    <section class="new-reset-password__container">
        <div class="new-reset-password__welcome">
            <p class="new-reset-password__welcome-title">
                {{"reset_password" | translateApi}}
            </p>
            <p class="new-reset-password__welcome-description">
                {{"welcome_safe_space" | translateApi}}
            </p>
        </div>
        <form class="general-form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="general-form-wrapper__groups">
                @for (field of formConfig; track $index) {
                <div class="general-form-wrapper__field {{field.widthClass}}">
                    <div class="general-form-wrapper__label-group">
                        @if (field.label) {
                        <label [for]="field.name" class="general-form-wrapper__label" [ngClass]="{
                    'general-form-wrapper__label--error': getError(field.name),
                    'general-form-wrapper__label--clickable':
                      field.enableLabelClick
                    }">
                            {{ field.label | translateApi }}
                            @if (field.isRequired) {
                            <span class="general-form-wrapper__required">*</span>
                            }
                        </label>
                        }
                    </div>

                    <div class="custom-input-wrapper custom-input-wrapper--with-icon custom-input-wrapper--icon-start"
                        [class.p-invalid]="getError(field.name)">
                        <span class="custom-input-wrapper__icon">
                            <img [src]="field.inputIcon" alt="" />
                        </span>

                        @if (field.name === 'password' || field.name === 'confirmPassword') {
                        <input [id]="field.name" [formControlName]="field.name" [type]="inputType()"
                            [placeholder]="(field.placeholder || '') | translateApi"
                            [attr.aria-label]="(field.label || '') | translateApi" class="custom-input-wrapper__input"
                            [disabled]="field.isDisabled ?? false"
                            [attr.autocomplete]="field.name === 'password' ? 'new-password' : 'new-password'" />

                        <button type="button" class="password-toggle-btn" (click)="toggleVisibility()"
                            [attr.aria-label]="passwordVisible() ? ('hidePassword' | translateApi): ('showPassword' | translateApi) ">
                            @if (passwordVisible()) {
                            <app-svg-icon name="eye-slash"></app-svg-icon>
                            }
                            @if (!passwordVisible()) {
                            <app-svg-icon name="eye-open"></app-svg-icon>
                            }
                        </button>
                        } @else {
                        <input [id]="field.name" [formControlName]="field.name" [type]="field.type"
                            [placeholder]="(field.placeholder || '') | translateApi"
                            [attr.aria-label]="(field.label || '') | translateApi" class="custom-input-wrapper__input"
                            [disabled]="field.isDisabled ?? false"
                            [attr.autocomplete]="field.name === 'password' ? 'new-password' : 'off'" />
                        }
                    </div>
                    <div class="general-form-wrapper__error-message">
                        @if (getError(field.name)) {
                        <span>{{ getValidationErrorMessage(field.name, field.validation ?? []) | translateApi }}</span>
                        }
                    </div>
                </div>
                }
                <!-- @if (getFormGroupError() && form.touched) {
          <div class="general-form-wrapper__error-message">
            <span>{{ getFormGroupValidationErrorMessage('passwordMismatch', 'form.passwords_do_not_match') |
              translateApi }}</span>
          </div>
          } -->
            </div>

            <div class="general-form-wrapper__actions">
                <button id="btn" type="submit" class="btn btn--solid" [disabled]="isLoading()"
                    [attr.aria-label]="'Change' | translateApi">
                    <span class="btn__label">
                        @if (isLoading()) {
                        <div class="general-form-wrapper__actions__loading" aria-label="Submit in progress">
                            {{ 'in_progress' | translateApi }}
                            <span class="dot-loader"></span>
                        </div>
                        }
                        @if (!isLoading()) {
                        {{ 'change' | translateApi }}
                        }
                    </span>
                </button>
            </div>
        </form>
    </section>
</main>