.doctor-gallery {
    &--list {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
        flex-wrap: wrap;
    }
    &--img-container {
        border-radius: 0.75rem;
        height: 4.79169rem;
        aspect-ratio: 76.67/76.67;
        border-radius: 1rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
