.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    padding: 1rem;
    &__image {
        max-width: 4.375rem;
        height: auto;
    }

    &__title {
        font-size: 1rem;
        font-weight: 600;
        color: var(--text-300);
    }

    &__message {
        font-size: 1rem;
        color: var(--text-400);
    }
    &__add {
        border-radius: 0.375rem;
        background: var(--Primary-primary, #0e39b6);
        display: flex;
        height: 2rem;
        padding: var(--Radius-8, 0.5rem) var(--Radius-16, 1rem);
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        width: fit-content;
        p {
            color: var(--Dark-WHITE, #fff);
            font-size: 0.75rem;
            font-weight: 500;
        }
    }
}
