<div class="empty-state" [ngStyle]="{ 'background-color': backgroundColor(), 'gap': gap() }">

  @if (hasImage()) {
  <img class="empty-state__image" [src]="config.imageUrl" [alt]="config.title || 'Empty state'" loading="lazy" />
  }

  @if (hasTitle()) {
  <h2 class="empty-state__title">{{ translate(config.title || '') }}</h2>
  }

  @if (hasMessage()) {
  <p class="empty-state__message">{{ translate(config.message || '') }}</p>
  }

  @if (hasButton()) {
  <button class="empty-state__add" (click)="onClick()">
    <p>{{ translate(config.buttonText || '') }}</p>
  </button>
  }

</div>