@use "../../../../common/styles/scss/abstracts/mixins" as *;
.all-therapeutic-programs {
    margin: 0 1rem 1rem 1rem;
    height: 100%;

    &__content {
        background: var(--Dark-WHITE);
        min-height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        margin-inline-end: 0.5rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        @include respond(md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
