.custom-input-wrapper {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--Dark-100, #eee);
  align-self: stretch;

  &.p-invalid {
    border: 1px solid var(--error-color, red);
  }

  img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  &__icon {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
  }
  ::ng-deep {
    .p-iconwrapper {
      margin-inline-start: 0rem !important;
    }
  }
  input {
    width: 100%;

    &::placeholder {
      color: var(--text-200, #a3adbb) !important;

      font-size: 0.875rem !important;
      font-weight: 500 !important;
    }
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;

    &::placeholder {
      color: var(--text-200, #a3adbb);
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  &--with-icon {
    gap: 0.5rem;
  }

  &--icon-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.125rem;
    gap: 1rem;

    .custom-input-wrapper__icon {
      order: 0;
    }
  }

  &--icon-end {
    flex-direction: row-reverse;

    .custom-input-wrapper__icon {
      order: 1;
    }
  }
}

::ng-deep {
  .p-select {
    border: none !important;
    min-width: 100px !important;
    box-shadow:
      00 0 transparent,
      0 0 transparent,
      0 1px 2px 0 transparent !important;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 80%;
      background-color: var(--Dark-100, #eee);
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:dir(rtl) {
      &::after {
        right: initial !important;
        left: 5px !important;
      }
    }
  }
  .p-select-dropdown {
    justify-content: start !important;
  }

  .p-select-list-container {
    min-width: 250px !important;
  }
  .flag {
    border-radius: 50%;
    width: 1.5625rem;
    height: 1.5625rem;
    object-fit: fill;
  }
}
.disbaled {
  pointer-events: none;
  cursor: not-allowed;
}
.select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.125rem;
  gap: 1rem;
}
.dots-loader {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  gap: 0.1875rem;
  z-index: 10;
  span {
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--Dark-100, rgba(128, 128, 128, 0.486));
    border-radius: 50%;
    opacity: 0.3;
    animation: blink 1.4s infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
}
