@use "../../../../common/styles/scss/abstracts/mixins" as *;
@use "../../../../common/styles/scss/abstracts/variables" as *; // Assuming this includes $color-grey-dark-4

// Define these variables in your _variables.scss or a dedicated file if they're global
// variables.scss example:
// $home-hero-bg: "../../../../../../public/images/home/home.png";
.home-page {
  // @include hero-layout($home-hero-bg);
  @include hero-layout("../../../../../../public/images/home/home.png");

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-inline-end: 0.5rem;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &-message {
      color: var(--text-primary);
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3;
    }

    &-tagline {
      color: var(--text-primary);
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__banners {
    width: 100%;
  }
}
