.support-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    p {
        color: var(--Dark-400, #666);
        font-size: 0.875rem;
        font-weight: 500;
    }
    &__title {
        color: var(--warning-color, #783700) !important ;
        font-size: 1rem !important;
        font-weight: 700 !important;
    }
}
