<article class="discount-card-for-meeting-chat" role="region" [attr.aria-label]="translate('discount_card_title2')">

  <div class="discount-card-for-meeting-chat__label">
    {{translate("discount_code2")}}
  </div>

  <div class="discount-card-for-meeting-chat__content">
    <div class="discount-card-for-meeting-chat__value-code">
      <div class="discount-card-for-meeting-chat__value">
        {{ item?.discount ?? 0 }}%
      </div>

      <app-tooltip [text]="translate('copied')" [position]="Position.TOP" [trigger]="trigger.CLICK">
        <div class="discount-card-for-meeting-chat__code" (click)="copyToClipboard()" role="button"
          [attr.aria-label]="'Copy discount code ' + (item?.coupon ?? 'N/A')">
          <span>{{ item?.coupon ?? '' }}</span>
          <app-svg-icon name="copy-clipboard" />
        </div>
      </app-tooltip>
    </div>
    <p class="discount-card-for-meeting-chat__description"
      [ngClass]="{'text-truncate': allowShortTexts, 'text-truncate-3': !allowShortTexts}">
      {{ item?.coupon ?? '' }}
    </p>
  </div>
</article>
