.podcast-details {
    app-podcast-card {
        display: block;
        width: 100%;

        .podcast-card {
            cursor: default;

            &:hover {
                transform: none;
                box-shadow: none;
            }
        }
    }
    &--box-card {
        padding: 0.75rem 1rem;
        height: 100%;
    }
}
