<div class="local-search" [ngClass]="{'local-search--full-width': isFullWidth}">
  <div class="local-search__container">
    <div class="local-search__input-wrapper" [ngClass]="{'local-search__input-wrapper--full-width': isFullWidth}">
      <app-svg-icon class="local-search__icon" name="search-icon" />
      <input type="text" class="local-search__input" [placeholder]="'complaints.search.placeholder' | translate"
        [(ngModel)]="searchTerm" (input)="onSearchChange($event)"
        [attr.aria-label]="'complaints.search.placeholder' | translate" />
      @if (searchTerm) {
      <button type="button" class="local-search__clear" aria-label="Clear search" (click)="clearSearch()">
        ✕
      </button>
      }
    </div>
  </div>
</div>