.radio-button {
    display: flex;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #eee;
    gap: 0.375rem;

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0;
        gap: 8px;
        p {
            color: #0f0f0f;
            font-size: 14px;
            font-weight: 500;
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    input {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid rgba(128, 128, 128, 0.116);
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;

        &:checked {
            background-color: transparent;
            border-color: var(--text-main-color) !important;

            &::before {
                content: "";
                position: absolute;
                top: 1px;
                left: 1px;
                width: 14px;
                height: 14px;
                background-color: var(--text-main-color);
                border-radius: 50%;
            }
        }
    }
}
