.discount-card {
  display: flex;
  border-radius: 0.5rem;
  border: 2px solid var(--Dark-50);
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: calc(2rem + 4px); // 2px border * 2 sides
    height: calc(2rem + 4px);
    background: var(--Background-main, #fff); // outer container color
    border-radius: 50%;
    border: 2px solid var(--Dark-50);
    top: 50%;
    inset-inline-end: -1.25rem;
    transform: translateY(-50%);
    z-index: 3;
  }

  &__label {
    border-radius: 0.5rem;
    border: 1px solid var(--Dark-50);
    background: var(--Primary-primary, #0e39b6);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Dark-WHITE, #fff);
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    flex-shrink: 0;
  }

  &__content {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__value {
    color: var(--Primary-primary, #0e39b6);
    font-size: 1.125rem;
    font-weight: 700;
    flex-shrink: 0;
  }

  &__code {
    display: flex;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    border-radius: var(--Radius-8, 0.5rem);
    background: var(--Primary-50, #e7ebf8);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      background-color: var(--Primary-100, #d0d7f2);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    span {
      color: var(--text-300);
      font-size: 0.875rem;
      font-weight: 500;
    }

    svg {
      display: block;
      flex-shrink: 0;
    }
  }

  &__description {
    color: var(--text-400, #969697);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }
}