@use "../../../../common/styles/scss/abstracts/mixins" as *;

.articles {
  &-layout {

    // @include hero-layout("../../../../../../public/images/articles/bg.png");
    &__container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: var(--Dark-50);
      border-radius: 0.625rem;
      padding: 1rem;
      padding-top: 0;

      .articles {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-inline-end: 0.5rem;
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

    @include respond(lg) {
      flex-direction: column;
    }
  }

  &__favourite-list {
    // Corrected typo: explore-List -> explore-list
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 16px;
    padding: 0.75rem;
    background: var(--Dark-WHITE, #fff);
  }

  .articles__list,
  .articles__skeleton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @include respond(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}