@use "../../../../common/styles/scss/abstracts/mixins" as *;
@use "../../../../common/styles/scss/abstracts/_base-layout-mixins" as *;

.chat-layout {
  @include baseLayout; // Use default variable values
  height: 80vh;
  // @include baseLayout(
  //   $padding: 1.5rem 5rem,
  //   $gap: 2.5rem,
  //   $padding-md: 1rem 3rem,
  //   $gap-md: 3rem,
  //   $padding-sm: 0.75rem 1.5rem,
  //   $gap-sm: 1.5rem
  // );
  &__cards {
    padding-inline-end: 0.5rem;
  }
  app-my-psychological-society,
  app-psychological-society-main-page {
    width: 100%;
  }
}
