.comment-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
    position: relative;

    &__avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 0.75rem;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            border-radius: 0.75rem;
            height: 100%;
        }
    }

    &--box {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 0.25rem;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.1875rem;
            padding: 0.25rem 1.1875rem 0.25rem 0.75rem;
            border-radius: 0.75rem;
            background: var(--Dark-WHITE, #fff);
            width: fit-content;
            &:dir(rtl) {
                padding: 0.25rem 0.75rem 0.25rem 1.1875rem;
            }
        }
    }
    &__add-comment {
        border-radius: var(--Radius-12, 0.75rem);
        background: var(--Dark-WHITE, #fff);
        padding: 0.25rem 0.625rem;
        width: 99%;
        z-index: 0;
    }
    &__author {
        color: var(--text-200);
        font-size: 0.75rem;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        color: var(--text-300);
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: space-between;
        flex-wrap: nowrap;

        > div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        > * {
            color: var(--text-200);
            font-size: 0.75rem;
            font-weight: 500;
        }
        button {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__likes {
        color: var(--text-200);
        font-size: 0.75rem;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    &__reply-box {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;

        input {
            flex: 1;
            padding: 0.25rem 0.5rem;
        }

        button {
            padding: 0.25rem 0.75rem;
        }
    }

    &__replies {
        border-left: 2px solid transparent;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        // z-index: -1;
    }

    &.has-replies {
        &::before {
            content: "";
            position: absolute;
            top: 2rem;
            bottom: 0;
            left: 1rem;
            width: 2px;
            background-color: var(--Dark-100);
            height: 100%;
            z-index: -1;
        }

        &:dir(rtl)::before {
            left: initial;
            right: 1rem;
        }

        .comment-card__avatar {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -1.7rem;
                width: 1.25rem;
                height: 0.125rem;
                background-color: var(--Dark-100);
            }
            &:dir(rtl)::before {
                left: initial;
                right: -1.7rem;
            }
        }
        .toggle-replies-btn {
            color: var(--text-primary, #000);
            font-size: 0.75rem;
            font-weight: 400;
            margin-top: 0.5rem;
            text-align: start;
        }
    }
    .heart-animated {
        animation: heart-bounce-glow 0.6s ease forwards;
    }
    @keyframes heart-bounce-glow {
        0% {
            transform: scale(1);
            filter: drop-shadow(0 0 0 #ff3355);
        }
        30% {
            transform: scale(1.4);
            filter: drop-shadow(0 0 10px #ff3355);
        }
        60% {
            transform: scale(0.95);
            filter: drop-shadow(0 0 5px #ff3355);
        }
        100% {
            transform: scale(1);
            filter: drop-shadow(0 0 0 #ff3355);
        }
    }
}
