<div class="comment-card" *ngIf="comment" [ngClass]="{ 'has-replies': comment.replies && comment.replies.length > 0 }">
  <div class="comment-card__avatar" (click)="goToProfile(comment.user.id)">
    <img [src]="comment.user.emoji.image" [alt]="comment.user.dummy_name" loading="lazy" decoding="async"
      fetchpriority="low" width="auto" height="auto" class="comment__avatar" />
  </div>
  <div class="comment-card__content">
    <div class="comment-card--box">
      <div class="comment-card__content--text">
        <h4 class="comment-card__author" (click)="goToProfile(comment.user.id)">
          {{ comment.user.dummy_name}}
        </h4>
        <p class="comment-card__text">
          {{ comment.content }}
        </p>
      </div>
      <div class="comment-card__actions">
        <div>
          <div class="time">
            {{ returnItemTimeAgo(comment.id, getCreatedAtDate()) }}
          </div>
          <button (click)="likePostComment(comment)">
            {{ (comment.is_liked?.id == 1 ? 'talbinahCommunity.post.actions.unlike' :
            'talbinahCommunity.post.actions.like') | translate }}
          </button>
          @if (false) {
          <button (click)="toggleReplyBox()">
            {{"talbinahCommunity.post.answer"|translate}}
          </button>
          }
        </div>
        <span class="comment-card__likes">
          <p>
            {{comment.reactions_count}}
          </p>

          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.58984 2.30811C8.534 2.30811 7.589 2.82144 6.99984 3.60894C6.41067 2.82144 5.46567 2.30811 4.40984 2.30811C2.619 2.30811 1.1665 3.76644 1.1665 5.56894C1.1665 6.26311 1.27734 6.90477 1.46984 7.49977C2.3915 10.4164 5.23234 12.1606 6.63817 12.6389C6.8365 12.7089 7.16317 12.7089 7.3615 12.6389C8.76734 12.1606 11.6082 10.4164 12.5298 7.49977C12.7223 6.90477 12.8332 6.26311 12.8332 5.56894C12.8332 3.76644 11.3807 2.30811 9.58984 2.30811Z"
              [attr.fill]="comment.is_liked?.id == 1 ? '#FF0027' : '#47586E'" />
          </svg>

        </span>
      </div>
      @if (comment.replies && comment.replies.length) {
      <button class="toggle-replies-btn" (click)="toggleReplies()">
        {{ showReplies() ? ('talbinahCommunity.post.actions.hideReplies' | translate) :
        ('talbinahCommunity.post.actions.showAllReplies' | translate:{count: comment.replies.length}) }}
      </button>
      }

    </div>

    @if (showReplyBox()) {
    <div class="comment-card__add-comment">
      <app-comment-box [isActions]="isActions" [isLoadingComment]="isLoadingComment"
        [userIdentityProfileData]="userIdentityProfileData" (commentSubmitted)="onCommentSubmit($event)">
      </app-comment-box>
    </div>}

    @if (showReplies()) {
    <div class="comment-card__replies" @slideFade>
      @for (reply of comment.replies; track $index) {
      <app-comment-card [comment]="reply"></app-comment-card>
      }
    </div>
    }

  </div>
</div>