<main class="cancel-appointment-form" role="main">
  <section class="cancel-appointment-form__container">
    <form class="general-form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="general-form-wrapper__groups">
        @for (formItem of formConfig; track formItem.name) {
        <div class="general-form-wrapper__field {{formItem.widthClass || ''}}">
          <div class="general-form-wrapper__label-group">
            @if (formItem.label) {
            <label [attr.for]="formItem.name" class="general-form-wrapper__label"
              [ngClass]="{'general-form-wrapper__label--error': getError(formItem.name), 'general-form-wrapper__label--clickable': formItem.enableLabelClick}">
              {{ translateApi(formItem.label) }}
              @if (formItem.isRequired) {
              <span class="general-form-wrapper__required" aria-hidden="true">*</span>
              }
            </label>
            }
          </div>

          @if (formItem.type === allInputTypes.TEXTAREA) {
          <div class="form-group-wrapper">
            <div class="form-field">
              <div class="custom-input custom-textarea"
                [ngClass]="{'p-invalid': getFormControl(formItem.name)?.invalid && (getFormControl(formItem.name)?.touched || getFormControl(formItem.name)?.dirty)}">
                <textarea [class]="formItem.inputClass ?? 'custom-input__input'" [formControlName]="formItem.name"
                  [id]="formItem.name" [attr.aria-label]="translateApi(formItem.label ?? '')"
                  [attr.title]="translateApi(formItem.label ?? '')"
                  [attr.autocomplete]="formItem.name === 'reasonDetails' ? 'off' : null"
                  [attr.placeholder]="translateApi(formItem.placeholder ?? '')" [rows]="formItem.rows ?? 5"
                  [attr.aria-required]="formItem.isRequired ? 'true' : 'false'"
                  [attr.aria-describedby]="formItem.name + '-hint ' + formItem.name + '-error'"></textarea>
              </div>

              <div class="form-field__feedback" role="status" aria-live="polite">
                @if (!getError(formItem.name) && formItem.hint && !getFormControl(formItem.name)?.value &&
                !formItem.fixedHint) {
                <small id="{{ formItem.name }}-hint" class="form-field__hint text-secondary">
                  {{ translateApi(formItem.hint) }}
                </small>
                }

                @if (getFormControl(formItem.name)?.invalid && (getFormControl(formItem.name)?.touched ||
                getFormControl(formItem.name)?.dirty)) {
                <span id="{{ formItem.name }}-error" class="general-form-wrapper__error-message error-label"
                  role="alert">
                  {{ translateApi(getValidationErrorMessage(formItem.name, formItem.validation ?? [])) }}
                </span>
                }
              </div>
            </div>
          </div>
          }

          @if (formItem.type === allInputTypes.SELECT) {
          <div class="form-group-wrapper">
            <div class="form-field">
              <div class="select-wrapper">
                <p-select [options]="formItem.listValues" [formControlName]="formItem.name"
                  [loading]="reasonsFacade.isLoading()==true" [optionLabel]="formItem.optionLabel || 'label'"
                  [showClear]="true" [readonly]="reasonsFacade.isLoading()==true"
                  [optionValue]="formItem.optionValue || 'value'" [filter]="formItem.name" [filterBy]="formItem.name"
                  [placeholder]="translateApi(formItem.placeholder ?? '')" [id]="formItem.name"
                  [attr.aria-describedby]="formItem.name + '-hint'" [attr.aria-invalid]="!!getError(formItem.name)"
                  [ngClass]="{'p-invalid': getFormControl(formItem.name)?.invalid && getFormControl(formItem.name)?.touched}"
                  appendTo="body">
                  <ng-template pTemplate="selectedItem" let-option>
                    <!-- Custom selected item display if needed -->
                    <div class="p-select-item-selected-custom">
                      {{ option[formItem.optionLabel || 'label'] }}
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <!-- Custom item list display if needed -->
                    <div class="p-select-item-custom">
                      {{ option[formItem.optionLabel || 'label'] }}
                    </div>
                  </ng-template>
                </p-select>
              </div>

              <div class="form-field__feedback" role="status" aria-live="polite">
                @if (!getError(formItem.name) && formItem.hint && !getFormControl(formItem.name)?.value &&
                !formItem.fixedHint) {
                <small id="{{ formItem.name }}-hint" class="form-field__hint text-secondary">
                  {{ translateApi(formItem.hint) }}
                </small>
                }

                @if (getFormControl(formItem.name)?.invalid && (getFormControl(formItem.name)?.touched ||
                getFormControl(formItem.name)?.dirty)) {
                <span id="{{ formItem.name }}-error" class="general-form-wrapper__error-message error-label"
                  role="alert">
                  {{ translateApi(getValidationErrorMessage(formItem.name, formItem.validation ?? [])) }}
                </span>
                }
              </div>
            </div>
          </div>
          }
        </div>
        }
      </div>

      <div class="general-form-wrapper__actions">
        <button id="cancel-appointment-btn" type="button" class="btn btn--outline" (click)="onCancel()"
          [disabled]="this.cancelFacade.isCancelling() && reasonsFacade.isLoading()"
          [ngClass]="{'disabled': this.cancelFacade.isCancelling()}">
          <span class="btn__label">
            {{ translateApi('cancel') }}
          </span>
        </button>
        <button id="submit-cancel-appointment-btn" type="submit" class="btn btn--solid"
          [attr.aria-label]="translateApi('confirm')"
          [disabled]="this.cancelFacade.isCancelling() && reasonsFacade.isLoading()"
          [ngClass]="{'disabled': this.cancelFacade.isCancelling()}">
          <span class="btn__label">
            @if (!this.cancelFacade.isCancelling()) {
            {{ translateApi('cancel_appointment') }}
            } @else {
            <span class="general-form-wrapper__loading" aria-live="polite">
              {{translateApi('in_progress')}}
              <span class="dot-loader"></span>
            </span>
            }
          </span>
        </button>
      </div>
    </form>
  </section>
</main>
