<article class="shimmer-card">
    <div class="shimmer-card__details">
        <figure class="shimmer-card__thumbnail shimmer-effect"></figure>

        <div class="shimmer-card__content">
            <div class="shimmer-card__content-header">
                <div class="shimmer-card__content-row">
                    <div class="shimmer-card__title shimmer-effect"></div>
                    <div class="shimmer-card__data-time-status">
                        <div class="shimmer-card__status-badge shimmer-effect"></div>
                        <div class="shimmer-c shimmer-effect"></div>
                    </div>
                </div>

                <div class="shimmer-card__info-group">
                    <div class="shimmer-card__info-item" style="width: 60%;">
                        <span class="shimmer-card__info-icon shimmer-effect"></span>
                        <p class="shimmer-card__info-text shimmer-effect shimmer-text-line"></p>
                    </div>
                    <div class="shimmer-card__info-item" style="justify-content: end;">
                        <span class="shimmer-card__info-icon shimmer-effect"></span>
                        <p class="shimmer-card__info-text shimmer-effect shimmer-text-line"></p>
                    </div>
                </div>
                <div class="shimmer-card__info-item" style="width: 80%;">
                    <span class="shimmer-card__info-icon shimmer-effect"></span>
                    <p class="shimmer-card__info-text shimmer-effect shimmer-text-line"></p>
                </div>
                <div class="shimmer-card__actions">
                    <div class="shimmer-card__button shimmer-effect"></div>
                    <div class="shimmer-card__button shimmer-effect"></div>
                </div>
            </div>
        </div>
    </div>
</article>