@use "../../../common/styles/scss/abstracts/mixins" as *;

.actions-dropdown-menu {
  position: relative;
  display: inline-block;
  height: 100%;
  display: flex;
  &__button {
    // background: var(--Dark-WHITE);
    border: none;
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      display: block;
    }
    &.arrow-bg {
      background: #f0f2f5;
    }
  }

  &__list {
    position: absolute;
    top: 1.5rem;
    min-width: 10rem;
    z-index: 1000;
    right: 0;
    display: inline-flex;
    padding: 0.375rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;

    border-radius: 0.75rem;
    background: var(--Dark-WHITE, #fff);
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);

    z-index: 1112;

    // RTL override
    &:dir(rtl) {
      right: inherit;
      left: 0;
    }

    &-items {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.375rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f0f2f5;
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--Dark-50, #f6f7f8);
    }

    &-icon {
      flex-shrink: 0;
    }

    &-text {
      color: var(--text-300, #47586e);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &.cancel {
        color: var(--Danger-600, #ca4146) !important;
      }
    }
  }
}
