@use "../../../../common/styles/scss/abstracts/mixins" as *;

.result {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    .quiz-result {
        gap: 0.5rem;
        border-radius: 0.75rem;
        padding: 1rem;
        background: var(--Dark-WHITE);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        @include respond(md) {
            flex-wrap: wrap;
        }
        &__details {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            &--diagnosis {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                p {
                    &:first-child {
                        color: var(--text-dark);
                        font-weight: 600;
                        font-size: 0.875rem;
                    }
                    &:last-child {
                        color: var(--text-300, #47586e);
                        font-weight: 500;
                        font-size: 0.75rem;
                    }
                }
            }
            &--advices {
                color: var(--text-300, #47586e);
                font-weight: 500;
                font-size: 0.75rem;
            }
        }
        &__chart {
            width: 19.8125rem;
            height: 9.0884rem;
            flex-shrink: 0;
            align-items: center;
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
            }
            @include respond(md) {
                margin: auto;
            }
        }
    }
    .specialists {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1rem;
        background: var(--Dark-WHITE);
        p {
            color: var(--text-dark);
            font-size: 0.875rem;
            font-weight: 600;
        }
        &-list {
            @include flex-box(row, 0.75rem);

            flex-wrap: wrap;
            .specialist-card {
                flex: 1;
                padding: 0.5rem;
                border-radius: 0.75rem;
                border: 0.0625rem solid var(--Dark-50, #f6f7f8);
            }
        }
    }
}
