@use "../../../../common/styles/scss/abstracts/mixins" as *;
@use "../../../../common/styles/scss/abstracts/_base-layout-mixins" as *;

.appointments-layout {
  @include baseLayout; // Use default variable values

  // @include baseLayout(
  //   $padding: 1.5rem 5rem,
  //   $gap: 2.5rem,
  //   $padding-md: 1rem 3rem,
  //   $gap-md: 3rem,
  //   $padding-sm: 0.75rem 1.5rem,
  //   $gap-sm: 1.5rem
  // );
}