@use "../../../../common/styles/scss/abstracts/mixins" as *;

.podcast-media-player {
  @include flex-box(column, 1rem, center, flex-end);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  border-radius: 1rem;
  color: var(--Dark-WHITE);
  position: relative;
  min-width: 15.625rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  height: 100%;
  overflow: hidden;

  &--phone {
    margin: 0 1rem;
    height: calc(100% - 1.5rem);
    .podcast-media-player__fullscreen-btn.web {
      display: none;
    }
  }

  &__image-container {
    @include abs-logical(absolute, 0, null, 0, null, 0);
    @include img-cover(1rem);
    background: linear-gradient(270deg, var(--color-icon, #c3ece0) 0%, var(--color-icon-2, #ffefd4) 100%);
    &--img {
      @include img-cover(null);
    }
  }

  &__overlay {
    @include abs-logical(absolute, 0.5rem, null, null, 0.5rem, 3);
    @include flex-box(row, 0.25rem);

    button {
      @include flex-box(row, 0.25rem, center, center);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;
      background: rgba(246, 247, 248, 0.23);
      border: none;
      cursor: pointer;

      svg {
        fill: var(--Dark-WHITE);
      }
    }
  }

  &__content {
    @include abs-logical(absolute, null, 0, null, null, 2);
    @include flex-box(column);
    padding: 1rem;
    width: 100%;
    backdrop-filter: blur(5px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 70%);
  }

  &__header {
    @include flex-box(row, 0.5rem, center, space-between);
    margin-bottom: 0.5rem;
  }

  &__title {
    @include text-style(1rem, var(--Dark-WHITE), 500);
  }

  &__speaker {
    @include text-style(0.75rem, var(--Dark-WHITE), 400);
  }

  &__like-btn {
    @include flex-box(row, 0.25rem, center, center);
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background: rgba(246, 247, 248, 0.23);
    border: none;
    cursor: pointer;
    min-width: 2rem;
  }

  &__progress {
    @include flex-box(column);
    width: 100%;

    &-slider {
      flex: 1;
      margin: 0 0.5rem;
    }

    &__time {
      @include flex-box(row, 0.5rem, center, space-between);
      @include text-style(0.75rem, rgba(255, 255, 255, 0.6), 400, 0.25rem);

      &--start,
      &--end {
        @include text-style(0.75rem, rgba(255, 255, 255, 0.6), 400);
      }
    }

    &-bar {
      overflow: hidden;
      margin-top: 0.625rem;
      width: 100%;
      cursor: pointer;
      direction: ltr !important;
      transition: height 0.1s ease-in-out;
      border-radius: 1.75rem;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(20px);
      height: 0.25rem;

      &:hover {
        height: 0.35rem;
      }
    }

    &-fill {
      width: 0%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
    }
  }

  &__controls {
    @include flex-box(row, 1.875rem, center, center);
    margin: 0.625rem 0;

    &-btn {
      @include flex-box(row, 0.25rem, center, center);
      height: 2rem;
      padding: 0.5rem;
      border-radius: 0.375rem;
      background: rgba(246, 247, 248, 0.23);
      border: none;
      cursor: pointer;

      svg {
        fill: var(--Dark-WHITE);
      }
    }

    &__play-btn {
      .shimmer-circle {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__volume {
    @include flex-box(row, 0.5rem, center, center);
    direction: rtl;

    .podcast-media-player__progress {
      width: 100%;

      &-bar {
        margin: 0;
        height: 0.25rem;

        &:hover {
          height: 0.35rem;
        }
      }
    }

    svg {
      stroke: var(--Dark-WHITE);
      stroke-width: 1;
    }
  }

  .episode {
    &__duration {
      @include flex-box(row, 0.5rem, center, space-between);
      @include text-style(0.75rem, var(--Dark-WHITE), 400, 0.5rem);

      @include respond(xs) {
        display: flex;
      }
    }

    &__description,
    &__about-title {
      display: none;
      @include text-style(0.75rem, var(--Dark-WHITE), 400, 0.5rem);

      @include respond(xs) {
        display: block;
      }
    }

    &__about-title {
      @include text-style(1rem, var(--Dark-WHITE), 500, 0.5rem);
    }
  }
}

.shimmer-circle {
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
  background: #66666680;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    @include abs-logical(absolute, 0, null, -100%, null, 1);
    width: 200%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(102, 102, 102, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(102, 102, 102, 0) 100%
    );
    animation: shimmer-move 1.2s infinite ease-in-out;
  }
}

@keyframes shimmer-move {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
