.therapeutic-program-card {
    position: relative;
    overflow: hidden;
    padding: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid var(--Dark-50, #f6f7f8);
    &__image,
    &__title,
    &__price,
    &__text-line,
    &__text,
    &__icon {
        background: var(--grey-300, #eee);
        position: relative;
        overflow: hidden;
        border-radius: 4px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
            animation: shimmer 1.6s infinite;
        }
    }
    &__content {
        &--summary {
            display: flex;
            gap: 0.5rem;
        }
    }
    &__info {
        &--summary {
            flex: 1;
        }
    }
    &__image {
        width: 100%;
        height: 6.25rem;
        border-radius: 0.75rem;
        &--summary {
            width: 2.625rem;
            height: 2.7rem;
        }
    }

    &__title {
        width: 100%;
        height: 1.25rem;
        margin: 0.5rem 0;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        &--details {
            background: var(--grey-300, #eee);
            width: 40%;
            border-radius: 0.75rem;
        }
    }

    &__price {
        width: 15%;
        height: 1.25rem;
        border-radius: 1rem;
    }

    &__text-line {
        height: 0.75rem;
        margin-top: 0.5rem;
        width: 90%;
        &.short {
            width: 50%;
        }
    }
    &__text {
        height: 0.75rem;
        width: 90%;
        &.short {
            width: 50%;
        }
    }
    &__meta {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.5rem;
        justify-content: center;
    }

    &__icon {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
    }
    &__details {
        &--details {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &__item {
            flex: 1;
        }
    }
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
