.doctor-details {
    border-radius: 0.75rem;
    border: 1px solid var(--Dark-50);
    background: var(--Dark-WHITE, #fff);
    display: flex;
    padding: 0.75rem;
    align-items: center;
    gap: 0.5rem;
    &--content {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        &--icon {
            border-radius: 0.5rem;
            background: var(--Warning-50, #faf4eb);
            display: flex;
            padding: 0.625rem;
            align-items: center;
            gap: 0.625rem;
        }
        &--title {
            color: var(--text-300);
            font-size: 0.875rem;
            font-weight: 400;
        }
        &--value {
            font-size: 0.75rem;
            font-weight: 700;
        }
    }
}
