.all-support-groups {
    margin: 1rem;
    margin-top: 0;
}
.all-support-groups-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline-end: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--Dark-WHITE);
    padding-bottom: 1.5rem;
    .all-support-groups-container-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }
}
