<div class="error-state" [ngStyle]="{ 'background-color': backgroundColor, 'gap': gap }">
    <img class="error-state__image" [src]="config.imageUrl" alt="Error state" />

    @if (config.title) {
    <h2 class="error-state__title">{{ config.title | translate }}</h2>
    }

    @if (config.message) {
    <p class="error-state__message">{{ config.message | translate }}</p>
    }

    @if (config.onRetry) {
    <button class="error-state__button" type="button" (click)="retry()">
        {{ config.retryLabel || ('general.retry' | translate) }}
    </button>
    }
</div>