<div class="error-state" [ngStyle]="{ 'background-color': backgroundColor, 'gap': gap }">
    <img class="error-state__image" [src]="config.imageUrl" alt="Error state" />

    @if (config.title) {
    <h2 class="error-state__title">{{ translate(config.title || '') }}</h2>
    }

    @if (config.message) {
    <p class="error-state__message">{{ translate(config.message || '') }}</p>
    }

    @if (config.onRetry) {
    <button class="error-state__button" type="button" (click)="retry()">
        {{ translate(config.retryLabel || 'retry') }}
    </button>
    }
</div>