.upload-apps {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border-radius: 0.75rem;
  background: var(--Dark-WHITE, #fff);
  margin: 1rem;

  &__title {
    color: var(--text-400, #0f0f0f);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    color: var(--text-300, #47586e);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  &__stores {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  &__store-button {
    display: flex;
    padding: 0.4375rem 0.75rem;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0.375rem;
    border: 1px solid var(--text-primary, #000);
    background: var(--Dark-WHITE, #fff);
    cursor: pointer;

    &--play-google {
      // Optional modifier styles
    }

    &__icon {
      display: flex;
      align-items: center;
    }

    &__text {
      display: flex;
      flex-direction: column;

      &-ar {
        color: var(--text-primary, #000);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &-en {
        color: var(--text-primary, #000);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}
