@use "../../../../common/styles/scss/abstracts/mixins" as *;

.chat-messages {
  display: flex;
  // height: 45rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background: var(--Dark-WHITE, #fff);

  &__header {
    display: flex;
    padding: 0.625rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;

    border-bottom: 1px solid var(--Dark-50, #f6f7f8);

    &__title {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      flex: 1 0 0;

      .label {
        color: var(--text-400, #0f0f0f);
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: -0.015rem;
      }

      .icon {
        width: 1.125rem;
        height: 1.125rem;
        flex-shrink: 0;
        cursor: pointer;

        &--save svg {
          fill: #4caf50;
        }

        &--cancel svg {
          fill: #f44336;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__new-chat {
      display: flex;
      flex-wrap: nowrap;
      padding: var(--Radius-4, 0.25rem) var(--Radius-12, 0.75rem);
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      height: 2rem;

      border-radius: 0.75rem;
      background: var(--Primary-50, #e7ebf8);

      &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
      .btn__label {
        color: var(--Primary-primary, #0e39b6);
        font-size: 0.75rem;
        font-weight: 500;
        line-height: normal;
      }

      .btn__icon {
        width: 1.125rem;
        height: 1.125rem;
        flex-shrink: 0;
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    width: 100%;
    margin-inline-start: -0.5rem;
    display: flex;
    padding: 0.75rem var(--Radius-20, 1.25rem);
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  &__add-first-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    img {
      width: 12.5rem;
    }
    &--title {
      font-size: 0.85rem;
      font-weight: 600;
      color: var(--text-300);
      max-width: 20.75rem;
      text-align: center;
    }
  }
  &__item {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    &--user {
      align-items: start;
    }

    &--bot {
      flex-direction: column;

      .main-content {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        flex-direction: row-reverse;
      }
    }
  }
  &__content-time {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 60%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    // max-width: 80%;
    min-width: 25%;
    border-radius: var(--Radius-12, 0.75rem);
    align-self: stretch;
    padding: 0.75rem;

    .chat-messages__item--user & {
      color: var(--Dark-light-600, #333);
      font-size: 0.75rem;
      font-weight: 500;
      border: 1px solid var(--Dark-50, #f6f7f8);
    }

    .chat-messages__item--bot & {
      color: var(--Dark-light-600, #333);
      font-size: 0.75rem;
      font-weight: 500;

      border-radius: var(--Radius-12, 0.75rem);
      background: var(--Dark-50, #f6f7f8);
    }
  }
  &__sender {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 0.375rem;
    @include respond(xxs) {
      max-width: 100%;
    }
  }
  &__podcast-content {
    min-width: 30vw;
  }
  &__images-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: var(--Radius-12, 0.75rem);
    border: 1px solid var(--Dark-50, #f6f7f8);
    & > * {
      flex: 0 0 calc(50% - 0.25rem);
    }

    @include respond(xxs) {
      & > * {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
  &__files-content {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }
  &__quiz-content {
    display: flex;
    padding: var(--Radius-4, 0.25rem) 0rem;
    flex-direction: column;
    gap: 0.375rem;
    &--answers {
      display: flex;
      gap: 0.25rem;
      * {
        flex: 1;
      }
    }
  }
  &__sender-icon {
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1/1;
    border-radius: var(--Radius-12, 0.75rem);
    background: var(--Dark-50, #f6f7f8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__timestamp {
    color: var(--text-100, #909dad);
    font-size: 0.75rem;
    font-weight: 400;
    direction: ltr;
  }
}
.animate-question {
  animation: fadeInSlide 0.4s ease;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.shimmer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1rem;
  background: var(--Dark-WHITE, #fff);
  overflow: hidden;
}

.shimmer-list {
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  padding: 0.75rem var(--Radius-20, 1.25rem);
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1 0 0;
  align-self: stretch;
}

.chat-messages__header.shimmer-wrapper {
  display: flex;
  padding: 0.625rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  border-bottom: 1px solid var(--Dark-50, #f6f7f8);
  height: auto !important; /* Override inline style if necessary */
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 800px 100%;
  animation: shimmer 2s infinite linear;
  background: white;
}

.chat-messages__header__title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1 0 0;
}

.shimmer-wrapper {
  background: var(--Dark-50);
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  animation: shimmer 2s infinite linear;
  position: relative;
  overflow: hidden;
  border-radius: var(--Radius-12, 0.75rem);
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.shimmer-message {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: start;
}

.shimmer-message--user {
  justify-content: flex-start;
}

.shimmer-message--bot {
  flex-direction: row-reverse;
  .shimmer-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    max-width: 80%;
    align-items: flex-end;
  }
}

.shimmer-icon {
  width: 2.25rem;
  height: 2.25rem;
  aspect-ratio: 1/1;
  border-radius: var(--Radius-12, 0.75rem);
  background-color: #edeef1;
  flex-shrink: 0;
}

.shimmer-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  min-width: 25%;
  max-width: 60%;
  box-sizing: border-box;
  align-items: flex-end;
}

.shimmer-text-line {
  height: 0.75rem;
  border-radius: 4px;
  background-color: #edeef1;
}

.shimmer-text-line--short {
  width: 60%;
}

.shimmer-text-line--long {
  width: 90%;
}

.shimmer-timestamp {
  height: 0.75rem;
  width: 40px;
  border-radius: 4px;
  background-color: #edeef1;
  margin-top: 0.25rem;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid var(--Primary-primary);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon--save {
  display: flex;
  justify-content: center;
  align-items: center;
}
.typing-indicator {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;

  span {
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--Primary-primary);
    border-radius: 50%;
    opacity: 0;
    animation: bounce 1.4s infinite ease-in-out;

    &:nth-child(1) {
      animation-delay: -0.32s;
    }
    &:nth-child(2) {
      animation-delay: -0.16s;
    }
    &:nth-child(3) {
      animation-delay: 0s;
    }
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
