.header-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__actions {
    display: flex;
    gap: 0.5rem;
  }

  &__button {
    width: 1.75rem;
    height: 1.75rem;
    border: none;
    border-radius: 50%;
    background-color: var(--Dark-100);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    width: 2.25rem;
    height: 2.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    background: linear-gradient(180deg, #cae8db 0%, #e7d4ba 100%);
    flex-shrink: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: var(--text-primary, #000);
    font-size: 1rem;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--text-300);
    font-size: 0.75rem;
    font-weight: 400;
  }
}
