<div class="leave-rating-modal" role="dialog" aria-modal="true" aria-labelledby="rating-modal-title">
  @if (_LeaveRatingFacade.isSubmitting()) {
  <div class="leave-rating-modal__overlay-loading" role="status" aria-live="polite">
    <div class="leave-rating-modal__spinner-container">
      @for (item of [1, 2, 3, 4]; track $index) {
      <div class="leave-rating-modal__spinner" aria-hidden="true">
        <span class="visually-hidden">{{ 'general.loading' | translate }}</span>
      </div>
      }
    </div>
  </div>
  }

  <div class="leave-rating-modal__container">
    @if (session) {
    <app-appointment-card [item]="session" [hideStatus]="true" [hideActions]="true" />
    }
    <form class="general-form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 id="rating-modal-title" class="visually-hidden">
        {{ 'rate.yourOpinion' | translate }}
      </h2>
      <div class="general-form-wrapper__groups">
        @for (formItem of formConfig; track formItem.name) {
        <div class="general-form-wrapper__field {{formItem.widthClass || ''}}">
          <div class="general-form-wrapper__label-group">
            @if (formItem.label && !formItem?.hideLabel) {
            <label [attr.for]="formItem.name" class="general-form-wrapper__label"
              [ngClass]="{'general-form-wrapper__label--error': getError(formItem.name), 'general-form-wrapper__label--clickable': formItem.enableLabelClick}">
              {{ formItem.label | translate }}
              @if (formItem.isRequired) {
              <span class="general-form-wrapper__required" aria-hidden="true">*</span>
              }
            </label>
            }
          </div>

          @if (formItem.type === allInputTypes.RATE) {
          <div class="form-group-wrapper">
            <div class="form-field leave-rating-modal__stars">
              @for (rating of RATING_VALUES; track rating) {
              <input class="visually-hidden" type="radio" [id]="'rating-' + rating" [formControlName]="formItem.name"
                [attr.aria-label]="(formItem.label ?? '') | translate" [value]="rating"
                [attr.aria-label]="'general.rate' | translate: { rating }" />
              <label class="leave-rating-modal__star" [for]="'rating-' + rating"
                [ngClass]="{'leave-rating-modal__star--filled': getFormControl(formItem.name)?.value >= rating}">
                <svg width="41" height="40" viewBox="0 0 41 40" fill="none" aria-hidden="true">
                  <path
                    d="M13.602 34.7212C12.7569 35.1624 11.7345 35.0847 10.9657 34.5209C10.1969 33.9572 9.81547 33.0054 9.98215 32.0668L11.331 24.3352L5.65201 18.893C4.95785 18.231 4.70345 17.2303 4.99717 16.3172C5.2909 15.404 6.08099 14.7393 7.03092 14.6062L14.9159 13.479L18.4757 6.37775C18.8978 5.5261 19.7661 4.9873 20.7166 4.9873C21.6671 4.9873 22.5355 5.5261 22.9576 6.37775L26.5174 13.479L34.4023 14.6062C35.3523 14.7393 36.1423 15.404 36.4361 16.3172C36.7298 17.2303 36.4754 18.231 35.7812 18.893L30.1022 24.3352L31.4511 32.0684C31.6178 33.0071 31.2363 33.9589 30.4676 34.5226C29.6988 35.0864 28.6764 35.164 27.8313 34.7229L20.7166 31.0464L13.602 34.7212Z"
                    stroke="#AEAEAE" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </label>
              }
            </div>
            <div class="form-field__feedback form-field__feedback--center" role="status" aria-live="polite">
              @if (!getError(formItem.name) && formItem.hint && !getFormControl(formItem.name)?.value &&
              !formItem.fixedHint) {
              <small id="{{ formItem.name }}-hint" class="form-field__hint text-secondary">
                {{ formItem.hint | translate }}
              </small>
              }

              @if (getFormControl(formItem.name)?.invalid && (getFormControl(formItem.name)?.touched ||
              getFormControl(formItem.name)?.dirty)) {
              <span id="{{ formItem.name }}-error" class="general-form-wrapper__error-message error-label" role="alert">
                {{ getValidationErrorMessage(formItem.name, formItem.validation ?? []) | translate }}
              </span>
              }
            </div>
          </div>
          }

          @if (formItem.type === allInputTypes.TEXTAREA) {
          <div class="form-group-wrapper">
            <div class="form-field">
              <div class="custom-input custom-textarea"
                [ngClass]="{'p-invalid': getFormControl(formItem.name)?.invalid && (getFormControl(formItem.name)?.touched || getFormControl(formItem.name)?.dirty)}">
                <textarea [class]="formItem.inputClass ?? 'custom-input__input'" [formControlName]="formItem.name"
                  [id]="formItem.name" [attr.aria-label]="(formItem.label ?? '') | translate"
                  [attr.title]="(formItem.label ?? '') | translate"
                  [attr.autocomplete]="formItem.name === 'reasonDetails' ? 'off' : null"
                  [attr.placeholder]="(formItem.placeholder ?? '') | translate" [rows]="formItem.rows ?? 5"
                  [attr.aria-required]="formItem.isRequired ? 'true' : 'false'"
                  [attr.aria-describedby]="formItem.name + '-hint ' + formItem.name + '-error'"></textarea>
              </div>

              <div class="form-field__feedback" role="status" aria-live="polite">
                @if (!getError(formItem.name) && formItem.hint && !getFormControl(formItem.name)?.value &&
                !formItem.fixedHint) {
                <small id="{{ formItem.name }}-hint" class="form-field__hint text-secondary">
                  {{ formItem.hint | translate }}
                </small>
                }

                @if (getFormControl(formItem.name)?.invalid && (getFormControl(formItem.name)?.touched ||
                getFormControl(formItem.name)?.dirty)) {
                <span id="{{ formItem.name }}-error" class="general-form-wrapper__error-message error-label"
                  role="alert">
                  {{ getValidationErrorMessage(formItem.name, formItem.validation ?? []) | translate }}
                </span>
                }
              </div>
            </div>
          </div>
          }
        </div>
        }
      </div>

      <div class="general-form-wrapper__actions">
        <button id="schedule-appointment-btn" type="button" class="btn btn--outline" (click)="onCancel()">
          <span class="btn__label">{{ 'cancel' | translateApi }}</span>
        </button>

        <button id="submit-schedule-appointment-btn" type="submit" class="btn btn--solid"
          [attr.aria-label]="'confirm' | translateApi" [disabled]="_LeaveRatingFacade.isSubmitting()"
          [ngClass]="{'disabled': this._LeaveRatingFacade.isSubmitting()}">
          <span class="btn__label">
            @if (!_LeaveRatingFacade.isSubmitting()) {
            {{ 'confirm' | translateApi }}
            } @else {
            <div class="general-form-wrapper__loading" aria-live="polite">
              {{ 'in_progress' | translateApi }}
              <span class="dot-loader"></span>
            </div>
            }
          </span>
        </button>
      </div>

    </form>
  </div>
</div>