<form [formGroup]="form" class="send-gift-form" (ngSubmit)="onSubmit()">
  <label class="send-gift-form__label send-gift-form__label--phone" for="phone">
    {{ 'gift.phoneLabel' | translate }}
  </label>

  <div class="custom-input-wrapper custom-input-wrapper--with-icon custom-input-wrapper--icon-start country-code-input"
    [ngClass]="{ 'disabled-input': isLoadingCountries() }">
    <div class="select-wrapper relative">
      <p-select class="w-full md:w-56" [options]="allowedCountries() ?? []" [ngModel]="selectedCountryModel()"
        (ngModelChange)="selectedCountryModel.set($event)" [ngModelOptions]="{ standalone: true }" optionLabel="name"
        [filter]="true" filterBy="name" [placeholder]="isLoadingCountries() ? null : ('code' | translate)"
        [disabled]="isLoadingCountries()" [virtualScroll]="true" [virtualScrollItemSize]="42" [autoDisplayFirst]="false"
        appendTo="body">
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <img [src]="selectedOption.flag" [class]="'flag flag-' + (selectedOption?.code?.toLowerCase() || '')"
              onerror="this.src='images/icons/no-flag.svg'" />
            <div>{{ selectedOption.phone_code }}</div>
          </div>
        </ng-template>

        <ng-template let-country #item>
          <div class="flex items-center gap-2">
            <img [src]="country.flag" [class]="'flag flag-' + (country?.code?.toLowerCase() || '')"
              onerror="this.src='images/icons/no-flag.svg'" />
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-select>

      <input type="number" class="form-control custom-input-wrapper__input" [formControlName]="'phone'" [placeholder]="
          !selectedCountryModel()
            ? ('phone_should_select_code' | translate)
            : ('phone_placeholder' | translate)
        " [disabled]="
          !selectedCountryModel() || isLoadingCountries() || (allowedCountries()?.length ?? 0) <= 0
        " autocomplete="tel" />

      @if (isLoadingCountries()) {
      <div class="dots-loader">
        <span></span><span></span><span></span>
      </div>
      }
    </div>
  </div>

  @if (submitted && formControls['phone'].invalid) {
  <div class="send-gift-form__error">
    @if (formControls['phone'].hasError('required')) {
    {{ 'gift.phoneRequired' | translate }}
    } @else if (formControls['phone'].hasError('pattern')) {
    {{ 'gift.phonePattern' | translate }}
    }
  </div>
  }

  <label class="send-gift-form__label send-gift-form__label--amount" for="amount">
    <span>{{ 'gift.amountLabel' | translate }}</span>
    <span class="send-gift-form__label-currency">{{ 'gift.amountCurrency' | translate }}</span>
  </label>

  <input id="amount" formControlName="amount" type="number" class="send-gift-form__input send-gift-form__input-cost"
    placeholder="{{ 'gift.amountPlaceholder' | translate }}" />

  @if (submitted && formControls['amount'].invalid) {
  <div class="send-gift-form__error">
    {{ 'gift.amountRequired' | translate }}
  </div>
  }

  <div class="send-gift-form__fees-info">
    <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="..." fill="#0E39B6" />
    </svg>
    <span>{{ 'gift.feesInfo' | translate }}</span>
  </div>

  <div class="send-gift-form__actions">
    <button id="btn" type="submit" class="btn btn--solid" [disabled]="isLoading()"
      [attr.aria-label]="'general.Change' | translate">
      <span class="btn__label">
        @if (isLoading()) {
        <div class="send-gift-form__actions__loading" aria-label="Submit in progress">
          {{ 'in_progress' | translate }}
          <span class="dot-loader"></span>
        </div>
        }
        @if (!isLoading()) {
        {{ 'gift.sendButton' | translate }}
        }
      </span>
    </button>
  </div>
</form>