<div class="shimmer-card">
    <div class="shimmer-card__header">
        <div class="shimmer-card__avatar shimmer"></div>
        <div class="shimmer-card__name shimmer"></div>
    </div>
    <div class="shimmer-card__lines">
        <div class="shimmer shimmer-card__line"></div>
        <div class="shimmer shimmer-card__line"></div>
        <div class="shimmer shimmer-card__line"></div>
        <div class="shimmer shimmer-card__line"></div>
        <div class="shimmer shimmer-card__line shimmer-card__line--short"></div>
    </div>
    <app-comment-box-skeleton></app-comment-box-skeleton>
    <app-tabs-shemmer></app-tabs-shemmer>
</div>