.quiz {
    &__start {
        display: flex;
        padding: 0.75rem 1rem;
        padding-top: 0;
        flex-direction: column;
        gap: 0.75rem;
        button {
            display: flex;
            height: 2.75rem;
            padding: 0.5rem 1.5rem;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            border-radius: 0.5rem;
            background: var(--Primary-primary, #0e39b6);
            color: var(--Dark-WHITE);
            width: fit-content;
            margin: auto;
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;
        border-radius: 0.75rem;
        background: var(--Dark-WHITE);
        p {
            &:first-child {
                color: var(--text-dark, #000);
                font-size: 0.875rem;
                font-weight: 600;
            }
            &:last-child {
                color: var(--text-300, #47586e);
                font-size: 0.75rem;
                font-weight: 500;
                max-width: 600px;
            }
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.75rem;
        border-radius: 0.75rem;
        background: var(--Dark-WHITE, #fff);
        p {
            color: var(--text-dark, #000);
            font-size: 0.875rem;
            font-weight: 600;
        }
        &--cards {
            display: flex;
            flex-wrap: row;
            gap: 0.75rem;
            flex-wrap: wrap;
        }
        &--card {
            display: flex;
            padding: 1rem;
            align-items: center;
            gap: 0.75rem;
            border-radius: 0.75rem;
            border: 1px solid var(--Dark-50, #f6f7f8);
            background: var(--Dark-WHITE, #fff);
            flex: 1;
        }
        &--icon {
            display: flex;
            padding: 0.625rem;
            align-items: center;
            gap: 0.625rem;
            border-radius: 0.5rem;
            background: var(--Dark-50, #f6f7f8);
        }
        &--Paragraphs,
        &--time {
            p {
                &:first-child {
                    color: var(--text-dark, #1b0330);
                    font-size: 0.75rem;
                    font-weight: 700;
                }
                &:last-child {
                    color: var(--Text-Gray, #897c94);
                    font-size: 0.75rem;
                    font-weight: 400;
                }
            }
        }
        &--hint {
            display: flex;
            padding: 0.25rem 0.5rem;
            gap: 0.625rem;
            border-radius: 1.875rem;
            align-items: center;
            border: 1px solid var(--Primary-100, #dbe1f4);
            p {
                color: var(--Primary-primary, #0e39b6);
                font-size: 0.75rem;
                font-weight: 400;
            }
            width: fit-content;
        }
    }
}
