<div class="important-numbers-loading">
    <div class="important-numbers-loading__content">
        @for (item of loadingCards; track item) {
        <div class="important-numbers-loading__card">
            <div class="important-numbers-loading__card__icon"></div>

            <div class="important-numbers-loading__card__info">
                <div class="important-numbers-loading__card__title"></div>
                <div class="important-numbers-loading__card__number"></div>
            </div>
        </div>
        }
    </div>
</div>