:host app-khawiik-voice-types-skeleton {
  height: 100%;
}

.khawiik-voice-types {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  padding: 2.4rem 1.6rem;
  margin: 0 auto;
  text-align: center;

  &__hero-aduio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2.0625rem;

    &-titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1.0625rem;
    }

    &-title {
      color: #000;
      font-size: 1.25rem;
      font-weight: 600;
      width: 27.1875rem;

      @media (max-width: 991px) {
        width: auto;
      }
    }

    &-subtitle {
      color: var(--text-400, #0f0f0f);
      font-size: 0.75rem;
      font-weight: 500;
      width: 27.1875rem;

      @media (max-width: 991px) {
        width: auto;
      }
    }

    @media (max-width: 540px) {
      gap: 1.25rem;
    }
  }

  &__items {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-height: 11rem;
    width: 100%;

    max-width: 30rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 1rem;

    /* Hide scrollbars but keep functionality */
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 8.125rem;
      min-height: 9.6875rem;
      height: 100%;
      flex-shrink: 0;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background: var(--Primary-50, #e7ebf8);
      cursor: pointer;

      transition:
        transform 140ms ease,
        box-shadow 140ms ease;

      &--active {
        width: 9.29544rem;
        // height: 11.08125rem;
        height: 100%;

        padding: 0.45788rem;
        gap: 0.45788rem;

        border: 1.465px solid #0e39b6;
        background: linear-gradient(180deg, var(--Primary-50, #e7ebf8) 0%, rgba(14, 57, 182, 0.65) 100%);
      }

      &-avatar {
        align-self: flex-start;

        &-image {
          width: 1.24094rem;
          height: 1.24094rem;
          border-radius: 0.48038rem;
          object-fit: fill;
        }
      }

      &-voice-icon {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &-image {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
      }

      &-voice-name {
        color: #000;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: capitalize;

        &--active {
          color: #fff;
        }
      }
    }
  }

  &__avatar-aduio {
    width: 5.45475rem;
    height: 5.59375rem;
    border-radius: 193.00175rem;
    display: grid;
    place-items: center;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__start {
    min-width: 27rem;
    display: flex;
    padding: 0.875rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 1rem;
    border: 1px solid #5c9dff;
    background: linear-gradient(103deg,
        var(--Primary-100, #dbe1f4) -21.22%,
        var(--Primary-primary, #0e39b6) 118.08%,
        #3579ff 118.08%);
    box-shadow:
      0 4px 4px -2px rgba(255, 250, 247, 0.3) inset,
      0 12px 32px 3px rgba(11, 96, 255, 0.25);
    cursor: pointer;
    transition:
      transform 140ms ease,
      box-shadow 140ms ease;

    color: var(--white-100, #fffaf7);
    text-shadow: 0 0.5px 0.5px rgba(25, 22, 20, 0.15);
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      transform: translateY(-2px);
    }

    &:focus {
      outline: 3px solid rgba(99, 102, 241, 0.16);
    }

    &--disabled {
      opacity: 0.6;
      cursor: not-allowed;
      transform: none;
    }
  }
}