@use "../../../common/styles/scss/abstracts/mixins" as *;

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    padding: 1rem;
    gap: 0.75rem;
    justify-content: center;
    height: 100%;
    &__image {
        width: 100%;
        max-width: 18.75rem;
        max-height: 18.75rem;
        @include respond(md) {
            max-width: 15.75rem;
            max-height: 15.75rem;
        }
        &.small {
            width: 50%;
        }
    }

    &__title {
        color: var(--text-primary, #000);
        font-size: 1.125rem;
        font-weight: 600;
        &.small {
            font-size: 0.875rem;
        }
    }

    &__message {
        color: var(--text-300, #47586e);
        font-size: 0.875rem;
        font-weight: 500;
        &.small {
            font-size: 0.7rem;
        }
    }
    &__add {
        display: flex;
        height: 2.75rem;
        padding: 0.5rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        background: var(--Primary-primary, #0e39b6);
        color: var(--Dark-WHITE);
        width: fit-content;
        margin: auto;
        transition: opacity 0.3s ease;

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }

        p {
            color: var(--Dark-WHITE, #fff);
            font-size: 0.75rem;
            font-weight: 500;
        }
    }
}

// Loading styles
.general-form-wrapper__actions__loading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Dark-WHITE, #fff);
    font-size: 0.75rem;
    font-weight: 500;
}

.dot-loader {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: var(--Dark-WHITE, #fff);
    animation: dot-loader 1.4s infinite ease-in-out both;
    display: inline-block;
    margin: 0 0.125rem;

    &:nth-child(1) {
        animation-delay: -0.32s;
    }
    &:nth-child(2) {
        animation-delay: -0.16s;
    }
    &:nth-child(3) {
        animation-delay: 0s;
    }
}

@keyframes dot-loader {
    0%,
    80%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}
