@use "../../../../../../common/styles/scss/abstracts/mixins" as *;

.auth-layout {
  min-height: 100vh;
  background: url("../../../../../../../../public/images/auth/auth-bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2rem 6.25rem;
  gap: 5rem;

  @include respond(md) {
    padding: 1.5rem 4.25rem;
    gap: 4rem;
  }

  @include respond(sm) {
    padding: 1rem 2.25rem;
    gap: 1rem;
  }

  &__header {
    width: 100%;
    flex-shrink: 0;
  }

  &__container {
    width: 32.375rem;

    border: 1px solid #e9e9e9ab;
    border-radius: 2rem;
    background-color: #ffffff96;
    box-sizing: border-box;
    overflow: hidden;
    padding: 3rem 0.625rem;
    > div {
      padding-inline: 2.375rem;
      @media (max-width: 1024px) {
        padding-inline: 0rem;
      }
    }

    margin: 0 0; // ✨ This centers it vertically in remaining space
    align-self: center;
    @media (max-width: 1024px) {
      width: 40rem;
      margin: auto 0; // ✨ This centers it vertically in remaining space
    }
    @include respond(md) {
      width: 100% !important;
      border-radius: 1.5rem;
      padding: 2rem !important;
    }
  }
}
