<div [ngClass]="cardClass">
  <div [ngClass]="contentClass">
    <p class="card__content-title" [ngStyle]="{ color: config.titleColor || '#006a82' }"
      [attr.aria-label]="config.title | translateApi">
      {{ config.title | translateApi }}
    </p>
    <p class="card__content-description" [attr.aria-label]="(config.description ?? '') | translateApi">
      {{ (config.description ?? '') | translateApi }}
    </p>
  </div>
  <div class="card__image">
    <img appLazyLoadImage="{{ config.img }}" [alt]="config.title | translateApi" ngOptimizedImage priority />
  </div>
</div>