.prescriptions {
  display: flex;
  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: var(--Dark-WHITE, #fff);
    margin-inline-end: 0.425rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    &--title {
      color: var(--text-300, #47586e);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.015rem;
      margin-bottom: 0;
    }
  }

  &__cards-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__cards,
  &__loading {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  &__cards {
    padding-inline-end: 0.5rem;
  }

  .prescription-card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 0.75rem;

    border-radius: 0.75rem;
    border: 1px solid var(--Dark-50, #f6f7f8);
    background: linear-gradient(180deg, rgba(218, 226, 206, 0.2) 0%, rgba(236, 222, 192, 0.2) 100%), #fff;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .label {
      display: flex;
      gap: 0.25rem;

      align-items: center;
      flex-wrap: wrap;

      .text {
        color: var(--text-300, #47586e);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .value {
        color: var(--text-400, #0f0f0f);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  &__error,
  &__empty {
    padding: 1rem;
  }
}

.skeleton-card {
  height: 4rem;
  background-color: #e5e7eb;
  border-radius: 0.5rem;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
