<div class="gift-accept-modal-container">

    <div class="gift-accept-modal">
        <img class="gift-accept-modal__img" src="images/settings/gift/gift-2.png" alt="gift" />
        <div class="gift-accept-modal__title">{{ translate('accept_gift') }}</div>
        <div class="gift-accept-modal__desc">{{ translate('accept_gift_confirmation') }}</div>
    </div>
    <button class="gift-accept-modal__accept" (click)="onAccept()" [ngClass]="{'disabled': isLoading()}">
        @if (isLoading()) {
        <div class="gift-accept-modal__loading" aria-live="polite">
            {{ translate('in_progress') }}
            <span class="dot-loader"></span>
        </div>
        }
        @else {
        {{ translate('accept') }}
        }
    </button>
</div>
