@use "./../../../../common/styles/scss/buttons/button.mixins" as btn;
@use "./../../../../common/styles/scss/abstracts/mixins" as *;

.gift-accept-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(sm) {
        padding: 0.5rem;
    }
}
.gift-accept-modal {
    border-radius: 0.75rem;
    background: var(--Dark-WHITE, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 0rem;
    overflow: hidden;
    width: 100%;

    @include respond(sm) {
        background: transparent;
        padding: 0.5rem 0;
    }
    &__img {
        width: 6.4375rem;
        height: 9.5625rem;
        object-fit: contain;
    }
    &__title {
        color: var(--text-400, #0f0f0f);
        text-align: center;
        font-size: 0.875rem;
        font-weight: 600;
    }
    &__desc {
        color: var(--text-300, #47586e);
        text-align: center;
        font-size: 0.75rem;
        font-weight: 500;
    }
    &__accept {
        @include btn.button-base;
        @include btn.button-size("medium");
        @include btn.button-icon-position("left");
        @include btn.button-icon-size("medium");
        @include btn.button-color("main");
        @include btn.button-spinner;
        @include btn.button-type("solid");
        align-self: flex-end;
        width: fit-content;
        margin: auto;
        margin-block: 1rem;
        padding: 0.5rem 1rem;
        align-self: flex-end;
        &.disabled {
            opacity: 0.6;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
    &__close {
        margin-top: 0.5rem;
        background: none;
        border: none;
        color: var(--text-300, #47586e);
        font-size: 0.75rem;
        cursor: pointer;
    }
    &__loading {
        display: flex;
        align-items: center;
    }

    .dot-loader::after {
        content: "";
        animation: dots 1.5s steps(4, end) infinite;
        white-space: pre;
    }

    @keyframes dots {
        0% {
            content: "";
        }

        25% {
            content: ".";
        }

        50% {
            content: "..";
        }

        75% {
            content: "...";
        }

        100% {
            content: "";
        }
    }
}
