@use "../../../../../common/styles/scss/abstracts/mixins" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;

  @include respond(sm) {
    gap: 0.25rem;
  }

  &__arrow {
    display: flex;
    height: 2rem;
    padding: var(--Radius-8, 0.5rem) var(--Radius-16, 1rem);
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    color: var(--text-400, #0f0f0f);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 0.375rem;
    background: var(--Dark-50, #f6f7f8);
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      color: var(--Primary-600, #3751fe);
      background: var(--Primary-50, #e7ebf8);
    }

    &-icon {
      display: flex;
      align-items: center;

      svg {
        display: block;
        width: 1rem;
        height: 1rem;
      }

      // Flip horizontally in RTL context
      :host-context([dir="rtl"]) & {
        transform: scaleX(-1);
      }
    }

    &-label {
      display: inline-block;

      @include respond(sm) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
  }

  &__item {
    &--active {
      .pagination__button {
        background: var(--Dark-50, #f6f7f8);
        color: var(--Primary-primary, #0e39b6);
      }
    }
  }

  &__button {
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 0.5rem;
    border: 1px solid var(--Dark-WHITE, #fff);

    &:hover:not(:disabled) {
      background: var(--Dark-50, #f6f7f8);
    }

    &:focus {
      outline: none;
      background: var(--Dark-50, #f6f7f8);
    }
  }

  &__ellipsis {
    padding: 0 0.5rem;
    color: var(--text-muted-color, #999);
    font-size: 1rem;
    user-select: none;
  }
}
