<nav class="pagination" role="navigation" aria-label="Pagination">
  <button class="pagination__arrow" [disabled]="current() === 1" (click)="goPrev()"
    [attr.aria-label]="translate('previous')">
    <span class="pagination__arrow-icon">
      <!-- Left arrow SVG -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          d="M10 13.779C9.873 13.779 9.747 13.732 9.647 13.632L5.3 9.286C4.593 8.579 4.593 7.419 5.3 6.712L9.647 2.366C9.84 2.172 10.16 2.172 10.353 2.366C10.547 2.559 10.547 2.879 10.353 3.072L6.007 7.419C5.687 7.739 5.687 8.259 6.007 8.579L10.353 12.926C10.547 13.119 10.547 13.439 10.353 13.632C10.253 13.726 10.127 13.779 10 13.779Z"
          fill="currentColor" />
      </svg>
    </span>
    <span class="pagination__arrow-label">
      {{ translate('previous') }}
    </span>
  </button>

  <ul class="pagination__list" role="list">
    @for (page of visiblePages(); track $index) {
    <li class="pagination__item" [class.pagination__item--active]="page === current()"
      [attr.aria-current]="page === current() ? 'page' : null">
      @if (page === '...') {
      <span class="pagination__ellipsis">…</span>
      }
      @if (page !== '...') {
      <button class="pagination__button" (click)="changePage(page)" [attr.aria-label]="'Go to page ' + page">
        {{ page }}
      </button>
      }
    </li>
    }
  </ul>

  <button class="pagination__arrow" [disabled]="current() === total()" (click)="goNext()"
    [attr.aria-label]="translate('next')">
    <span class="pagination__arrow-label">
      {{ translate('next') }}
    </span>
    <span class="pagination__arrow-icon">
      <!-- Right arrow SVG -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          d="M6 2.221C6.127 2.221 6.253 2.268 6.353 2.368L10.7 6.714C11.407 7.421 11.407 8.581 10.7 9.288L6.353 13.634C6.16 13.828 5.84 13.828 5.647 13.634C5.453 13.441 5.453 13.121 5.647 12.928L9.993 8.581C10.313 8.261 10.313 7.741 9.993 7.421L5.647 3.074C5.453 2.881 5.453 2.561 5.647 2.368C5.747 2.268 5.873 2.221 6 2.221Z"
          fill="currentColor" />
      </svg>
    </span>
  </button>
</nav>