//Border Radius
.border-radius {
    border-radius: var(--border-radius);
}
.border-radius-lg {
    border-radius: var(--border-radius-lg);
}
.border-radius-sm {
    border-radius: var(--border-radius-sm);
}

//Border
.border {
    border: 1px solid var(--color-grey-light-2);
}

//Example

// <div class="border border-radius">
// <p>This div has a standard border and a normal border radius.</p>
// </div>

// <div class="border border-radius-lg">
// <p>This div has a standard border and a large border radius.</p>
// </div>

// <div class="border border-radius-sm">
// <p>This div has a standard border and a small border radius.</p>
// </div>
