@use "../abstracts/variables" as var;
.text-primary {
    color: var.$primary-color;
}
.text-secondary {
    color: var.$secondary-color;
}
.text-success {
    color: var.$success-color;
}
.text-info {
    color: var.$info-color;
}
.text-warning {
    color: var.$warning-color;
}
.text-danger {
    color: var.$danger-color;
}
.text-light {
    color: var.$light-color;
}
.text-dark {
    color: var.$dark-color;
}

.bg-primary {
    background-color: var.$primary-color;
}
.bg-secondary {
    background-color: var.$secondary-color;
}
.bg-success {
    background-color: var.$success-color;
}
.bg-info {
    background-color: var.$info-color;
}
.bg-warning {
    background-color: var.$warning-color;
}
.bg-danger {
    background-color: var.$danger-color;
}
.bg-light {
    background-color: var.$light-color;
}
.bg-dark {
    background-color: var.$dark-color;
}

//Example
// <h2>Text Color Utilities</h2>
// <p class="text-primary">This text is Primary Color</p>
// <p class="text-secondary">This text is Secondary Color</p>
// <p class="text-success">This text is Success Color</p>
// <p class="text-info">This text is Info Color</p>
// <p class="text-warning">This text is Warning Color</p>
// <p class="text-danger">This text is Danger Color</p>
// <p class="text-light">This text is Light Color</p>
// <p class="text-dark">This text is Dark Color</p>

// <h2>Background Color Utilities</h2>
// <div class="bg-primary">Primary Background</div>
// <div class="bg-secondary">Secondary Background</div>
// <div class="bg-success">Success Background</div>
// <div class="bg-info">Info Background</div>
// <div class="bg-warning">Warning Background</div>
// <div class="bg-danger">Danger Background</div>
// <div class="bg-light">Light Background</div>
// <div class="bg-dark">Dark Background</div>
