.card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-radius: var(--Radius-16, 1rem);
    border: 1px solid var(--Dark-50, #f6f7f8);
    padding: 1rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__user-info {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
    }

    &__avatar {
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1/1;

        border-radius: 0.75rem;
        background: var(--grid-5);
        cursor: pointer;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;

        &--user-info {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    .button-loading {
        display: flex;
        align-items: center;
    }

    .dot-loader::after {
        content: "";
        animation: dots 1.5s steps(4, end) infinite;
        white-space: pre;
    }

    @keyframes dots {
        0% {
            content: "";
        }
        25% {
            content: ".";
        }
        50% {
            content: "..";
        }
        75% {
            content: "...";
        }
        100% {
            content: "";
        }
    }
    &__name {
        color: var(--text-400, #0f0f0f);
        font-size: 0.75rem;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__follow {
        border-radius: var(--Radius-16, 1rem);
        background: var(--Dark-WHITE, #fff);
        display: flex;
        padding: 0.125rem 0.375rem;
        font-size: 0.75rem;
        gap: 0.12rem;
        align-items: center;
        cursor: pointer;
    }

    &__time {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--text-300, #47586e);
        font-size: 0.75rem;
        font-weight: 400;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__tag {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        background: var(--grey-200, #f0f0f0);

        &--support {
            background-color: var(--error-color-light, #ffe0e0);
        }

        &--gratitude {
            background-color: var(--success-color-light, #e0ffe0);
        }
    }

    &__menu {
        margin-left: auto;
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__content {
        font-size: 0.875rem;
        color: var(--text-400, #0f0f0f);
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-between;
        align-items: center;

        p {
            // max-width: 30rem;

            &.text-truncate {
                // width: 16rem;
            }
        }

        &--watch-post {
            display: flex;
            padding: var(--Radius-8, 0.5rem) var(--Radius-16, 1rem);
            justify-content: center;
            align-items: center;
            border-radius: 0.375rem;
            background: var(--Primary-50, #e7ebf8);

            span {
                color: var(--Primary-primary, #0e39b6);
                font-size: 0.75rem;
                font-weight: 500;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.has-border {
            border-top: 1px solid var(--Dark-100);
            border-bottom: 1px solid var(--Dark-100);
            margin-top: 0.5rem;
        }

        &__add-comment-favourite {
            display: flex;
            padding: 0.5rem 0rem;
            align-items: flex-start;
            gap: 2rem;

            > div {
                display: flex;
                padding: 0.5rem 0rem;
                cursor: pointer;
                gap: 0.25rem;
                align-items: center;

                p {
                    color: var(--text-300, #47586e);
                    font-size: 0.75rem;
                    font-weight: 500;
                }
            }
        }

        &__add-comment-action {
            cursor: pointer;

            svg path {
                fill: var(--text-300, #47586e);
            }

            &.active svg path {
                fill: var(--Primary-primary, #0e39b6);
            }
        }
    }
}
