.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &__bubble {
        position: absolute;
        background-color: var(--Primary-50);
        color: var(--Primary-primary);
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition:
            opacity 0.2s ease,
            transform 0.2s ease;
        z-index: 10;
        transform: translateY(0);
    }

    &--visible &__bubble {
        opacity: 1;
    }

    &--top &__bubble {
        bottom: 70%;
        left: 50%;
        transform: translate(-50%, -0.5rem);
        margin-bottom: 0.5rem;
    }

    &--bottom &__bubble {
        top: 70%;
        left: 50%;
        transform: translate(-50%, 0.5rem);
        margin-top: 0.5rem;
    }

    &--left &__bubble {
        right: 85%;
        top: 50%;
        transform: translate(-0.5rem, -50%);
        margin-right: 0.5rem;
    }

    &--right &__bubble {
        left: 85%;
        top: 50%;
        transform: translate(0.5rem, -50%);
        margin-left: 0.5rem;
    }

    &--click {
        cursor: pointer;
    }
}
