.specialist-card {
    display: flex;
    gap: 1rem;
    height: 100%;
    cursor: pointer;

    &__details {
        display: flex;
        flex-direction: row;
        gap: 0.375rem;
        width: 100%;
        height: 100%;
    }
    &__actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
    &__like-button,
    &__duration-button,
    &__recommend {
        display: flex;
        padding: 0.25rem 0.625rem;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        border-radius: 1rem;
        background: var(--Dark-50);
    }
    &__recommend {
        background: var(--Primary-50);
        p {
            font-weight: 500;
            font-size: 0.75rem;
            color: var(--Primary-primary, #0e39b6);
        }
    }

    &__duration {
        color: var(--text-main-color);
        font-size: 0.5rem;
        font-weight: 500;
        &-button {
            background: var(--Primary-50);
        }
        &:dir(rtl) {
            font-size: 0.75rem;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: space-between;
        &-header {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0.625rem;
            padding: 0.25rem 0.75rem;
            gap: 1rem;
            border-radius: 0.5rem;
        }
        &__subscription {
            display: flex;
            padding: 0.25rem 0.5rem;
            align-items: center;
            gap: 1rem;
            border-radius: 0.5rem;
            background-color: var(--Light-50);
            justify-content: space-between;
            &__datetime {
                display: flex;
                flex-direction: row;
                gap: 0.75rem;

                &--date,
                &--time {
                    display: flex;
                    flex-direction: row;
                    gap: 0.125rem;
                    align-items: center;
                    p {
                        color: var(--text-300, #47586e);
                        font-size: 0.75rem;
                        font-weight: 400;
                    }
                }
                &--time {
                    align-items: center;
                }
            }
            &__cost-duration {
                &--cost {
                    display: flex;
                    flex-direction: row;
                    gap: 0.125rem;
                    color: var(--Primary-primary, #0e39b6);
                    font-size: 0.875rem;
                    font-weight: 600;
                }
                &--duration {
                    color: var(--text-300, #47586e);
                    font-size: 0.75rem;
                    font-weight: 400;
                }
            }
        }
    }
    &__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-inline: 0.75rem;

        &--features {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            &--feature {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
                align-items: center;
                p {
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: var(--text-300, #47586e);
                }
            }
        }
        &--rate {
            display: flex;
            flex-direction: row;
            gap: 0.125rem;
            p {
                color: var(--text-200, #a3adbb);
                font-weight: 400;
                font-size: 0.625rem;

                span {
                    color: var(--gold);
                    font-weight: 500;
                    font-size: 0.75rem;
                }
            }
        }
    }
    &__title {
        font-size: 1.125rem;
        color: var(--text-primary, #000);
        font-size: 0.875rem;
        font-weight: 600;
    }

    &__details {
        color: var(--text-100);
        font-size: 0.75rem;
        font-weight: 400;
    }

    &__thumbnail {
        width: 3.0625rem;
        height: 3.0625rem;
        border-radius: 0.75rem;
        overflow: hidden;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .shimmer-circle {
        width: 0.85rem;
        height: 0.85rem;
        border-radius: 50%;
        background: #66666680;
        position: relative;
        overflow: hidden;
        margin-top: 0.14rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 200%;
            height: 100%;
            background: linear-gradient(
                90deg,
                rgba(102, 102, 102, 0) 0%,
                rgba(255, 255, 255, 0.3) 50%,
                rgba(102, 102, 102, 0) 100%
            );
            animation: shimmer-move 1.2s infinite ease-in-out;
        }
    }

    @keyframes shimmer-move {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }
}
