<div class="chat-messages-skeleton">
  <!-- messages shimmer list -->
  <ul class="chat-messages-skeleton__list" role="list" aria-hidden="true">
    <!-- Bot message (left side) -->
    <li class="chat-messages-skeleton__item chat-messages-skeleton__item--bot">
      <div class="chat-messages-skeleton__avatar shimmer-wrapper"></div>
      <div class="chat-messages-skeleton__body">
        <div class="shimmer-line shimmer-line--medium"></div>
      </div>
    </li>

    <!-- User message (right side) -->
    <li class="chat-messages-skeleton__item chat-messages-skeleton__item--user">
      <div class="chat-messages-skeleton__body">
        <div class="shimmer-line shimmer-line--long"></div>
        <div class="shimmer-line shimmer-line--short"></div>
      </div>
      <div class="chat-messages-skeleton__avatar shimmer-wrapper"></div>
    </li>

    <!-- Bot message (left side) -->
    <li class="chat-messages-skeleton__item chat-messages-skeleton__item--bot">
      <div class="chat-messages-skeleton__avatar shimmer-wrapper"></div>
      <div class="chat-messages-skeleton__body">
        <div class="shimmer-line shimmer-line--long"></div>
        <div class="shimmer-line shimmer-line--medium"></div>
        <div class="shimmer-line shimmer-line--short"></div>
      </div>
    </li>

    <!-- User message (right side) -->
    <li class="chat-messages-skeleton__item chat-messages-skeleton__item--user">
      <div class="chat-messages-skeleton__body">
        <div class="shimmer-line shimmer-line--medium"></div>
      </div>
      <div class="chat-messages-skeleton__avatar shimmer-wrapper"></div>
    </li>

    <!-- Bot message (left side) -->
    <li class="chat-messages-skeleton__item chat-messages-skeleton__item--bot">
      <div class="chat-messages-skeleton__avatar shimmer-wrapper"></div>
      <div class="chat-messages-skeleton__body">
        <div class="shimmer-line shimmer-line--long"></div>
        <div class="shimmer-line shimmer-line--long"></div>
      </div>
    </li>
  </ul>
</div>