@use "../../../../common/styles/scss/abstracts/mixins" as *;
@use "../../../../common/styles/scss/utils/helpers" as *;

.therapeutic-programs {
  &-layout {
    @include hero-layout("../../../../../../public/images/mentalHealthScale/bg.png");

    &__main {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background: var(--Dark-50, #f6f7f8);
      border-radius: 0.625rem;
      padding: 1rem;
      box-shadow:
        0px -1px 50px 9px rgba(0, 0, 0, 0.08),
        0px 0px 0px 1.5px rgba(255, 255, 255, 0.25) inset;
      backdrop-filter: blur(20px);
    }

    &__content {
      padding-inline-end: 0.5rem;
      @include respond(sm) {
        flex-direction: column;
      }
    }
  }
}
