<div class="wallet-card__list-container">
    <!-- Wallet Card Loading -->

    <!-- Movements Section Loading -->
    <div class="wallet-card__list-container">
        <div class="wallet-card__list-search">
            <div class="wallet-loading__search shimmer"></div>
        </div>
        <div class="wallet-card__list">
            @for (item of loadingCards; track item) {
            <div class="wallet-loading__movement-card wallet-card__list">
                <div class="wallet-loading__movement-info">
                    <div class="wallet-loading__movement-icon shimmer"></div>

                    <div class="wallet-loading__movement-title shimmer"></div>
                    <div class="wallet-loading__movement-amount shimmer"></div>
                </div>
                <div class="wallet-loading__movement-icon shimmer"></div>
            </div>
            }
        </div>
    </div>
</div>