<div class="new-login-password">
  <div class="new-login-password__header">
    <h2 class="new-login-password__title">{{ 'enter_password' | translateApi }}</h2>
    <p class="new-login-password__description">{{ description | translateApi }}</p>
  </div>

  <form class="new-login-password__form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="new-login-password__form-groups">
      @for (field of formConfig; track $index) {
      <div class="new-login-password__form-field {{field.widthClass}}">
        <div class="new-login-password__form-label-group">
          @if (field.label) {
          <label [for]="field.name" class="new-login-password__form-label" [ngClass]="{
              'new-login-password__form-label--error': getError(field.name),
              'new-login-password__form-label--clickable': field.enableLabelClick
            }">
            {{ field.label | translateApi }}
            @if (field.isRequired) {
            <span class="new-login-password__form-required">*</span>
            }
          </label>
          }
        </div>

        <div
          class="new-login-password__input-wrapper new-login-password__input-wrapper--with-icon new-login-password__input-wrapper--icon-start"
          [class.new-login-password__input-wrapper--error]="getError(field.name)">
          <span class="new-login-password__input-icon" role="img" [attr.aria-label]="field.label || '' | translateApi">
            <img [src]="field.inputIcon" [alt]="field.label || '' | translateApi" />
          </span>

          <input [id]="field.name" [formControlName]="field.name" [type]="inputType()"
            [placeholder]="(field.placeholder || '') | translateApi"
            [attr.aria-label]="(field.label || '') | translateApi" class="new-login-password__input"
            [attr.autocomplete]="'current-password'" [attr.aria-invalid]="getError(field.name) ? 'true' : 'false'"
            [attr.aria-describedby]="getError(field.name) ? field.name + '-error' : null" />

          <button type="button" class="new-login-password__password-toggle" (click)="toggleVisibility()"
            [attr.aria-label]="passwordVisible() ? ('hidePassword' | translateApi) : ('showPassword' | translateApi)">
            @if (passwordVisible()) {
            <app-svg-icon name="eye-slash"></app-svg-icon>
            }
            @if (!passwordVisible()) {
            <app-svg-icon name="eye-open"></app-svg-icon>
            }
          </button>
        </div>

        @if (getError(field.name)) {
        <div class="new-login-password__form-error" [id]="field.name + '-error'" aria-live="polite">
          {{ getValidationErrorMessage(field.name, field.validation ?? []) | translateApi }}
        </div>
        }
        <div class="new-login-password__form-actions">
          <button type="button" class="new-login-password__forgot-password-btn" (click)="onForgotPassword()"
            [attr.aria-label]="'forgot_password' | translateApi">
            {{ 'forgot_password' | translateApi }}
          </button>
        </div>

      </div>
      }
    </div>

    <div class="new-login-password__form-submit">
      <button id="new-password-submit-btn" type="submit" class="btn btn--solid"
        [disabled]="_LoginPasswordFacade.loading()" [attr.aria-label]="'login' | translateApi">
        <span class="new-login-password__submit-btn-label">
          @if (_LoginPasswordFacade.loading()) {
          <div class="new-login-password__loading" aria-label="Submit in progress" aria-live="polite">
            {{ 'in_progress' | translateApi }}
            <span class="new-login-password__loading-dots"></span>
          </div>
          }
          @if (!_LoginPasswordFacade.loading()) {
          {{ 'login' | translateApi }}
          }
        </span>
      </button>
    </div>
  </form>
</div>