.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &__overlay {
        background-color: #344054b2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    &__card {
        background: white;
        padding: 1.25rem;
        z-index: 100;
        border-radius: 0.75rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        width: 22.25rem;
        margin: 5px;
        &__title {
            color: #040a4d;
            font-weight: 500;
            font-size: 1rem;
            line-height: 26px;
            & + button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                &:hover {
                    background-color: rgba(128, 128, 128, 0.148);
                    svg {
                        width: 13px;
                        height: 14px;
                        path {
                            stroke: #dc3545;
                        }
                    }
                }
            }
        }
        &__sub-title {
            font-weight: 400;
            font-size: 0.875rem;
            color: #676c70;
        }
        label {
            font-size: 0.875rem;
            color: #1f1f1f;
        }
        .buttons {
            width: 80%;
            margin: auto;
            margin-top: 2rem;
        }
    }
}

.popup__loading-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
