<div class="sent-gifts-list">
    @if (isLoading()) {
    <app-gift-card-shimmer style="width: 100%;"></app-gift-card-shimmer>
    }
    @else {
    @if (errorMessage() && !status()) {
    <app-error-state-card [config]="errorConfig"></app-error-state-card>
    }
    @else if (isEmpty) {
    <app-empty-state-card [config]="emptyConfig"></app-empty-state-card>
    }
    @else {
    @for (item of pagedItems; track item.id) {
    <app-gift-card [item]="item" type="sender"></app-gift-card>
    }
    <app-pagination-listing *ngIf="(totalPages??0) > 1 && !isLoading() && !isEmpty && !errorMessage()"
        [paginationConfig]="paginationConfig"></app-pagination-listing>
    }
    }
</div>
