@use "../../../../common/styles/scss/abstracts/mixins" as *;

.gift-loved-ones-layout {
  display: flex;
  gap: 0.75rem;
  margin-inline: 1rem;
  margin-bottom: 1rem;

  @include respond(lg) {
    flex-direction: column;
  }

  &__banner {
    margin-inline-end: 0.5rem;

    .gift-banner {
      max-width: 16.875rem;
      background: url("../../../../../../public/images/settings/gift/bg.jpeg") no-repeat;
      background-size: cover;
      position: relative;
      border-radius: 1rem;
      overflow: hidden;
      min-height: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      min-height: 50vh;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding-top: 5rem;
        padding-inline: 0.75rem;
      }

      &__title {
        color: var(--text-400, #0f0f0f);
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
      }

      &__desc {
        color: var(--text-300, #47586e);
        text-align: center;
        font-size: 0.75rem;
        font-weight: 400;
      }

      &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 6.4375rem;
        object-fit: contain;
      }

      @include respond(lg) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__content {
    border-radius: 1rem;
    background: var(--Dark-WHITE, #fff);
    display: flex;
    /* height: 27.8125rem; */
    padding: 0.75rem;
    flex-direction: column;
    flex: 1;
  }
}

.gift-loved-ones-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
  gap: 0.75rem;

  &__btn {
    display: flex;
    padding: 0.375rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--text-100, #a3adbb);
    font-size: 0.75rem;
    font-weight: 400;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition:
      color 0.2s,
      border-bottom 0.2s;

    &--active {
      border-bottom: 1px solid var(--Primary-primary, #0e39b6);
      color: var(--Primary-primary, #0e39b6);
      font-weight: 600;
    }
  }
}
