.option-card {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid var(--Dark-50, #f6f7f8);
    cursor: pointer;
    &__content {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &--title {
            color: var(--text-primary, #000);
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: -0.015rem;
        }
        &--icon {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 0.25rem;
        }
    }
}

.rtl-flip {
    transform: scaleX(-1);
}