@if(isOpen$ | async){
<div class="popup">
    <div class="popup__overlay"></div>
    <div class="popup__card d-flex flex-col gap-4">
        <div class="d-flex align-items-start gap-2">
            <svg class="mt-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10 6V10M10 14H10.01M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
                    stroke="#E00000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="d-flex flex-col gap-2">
                <p class="popup__card__title">{{ (popupData$ | async)?.title+'' |translate}}</p>
                <p class="popup__card__sub-title">{{ (popupData$ | async)?.message+'' |translate }}</p>
            </div>
        </div>
        <div class="buttons d-flex align-items-center justify-end gap-2">
            <app-outline-gray-btn [label]="'back'" (click)="cancelDelete()"></app-outline-gray-btn>
            <app-solid-danger-btn [label]="'general.delete'" (click)="confirmDelete()"></app-solid-danger-btn>
        </div>
    </div>
</div>
}