<section class="confirm-cancel-appointment">
  <div class="confirm-cancel-appointment__status" role="status" aria-live="polite">
    <div class="confirm-cancel-appointment__status__icon">
      <img [src]="'images/status/error-status-icon.png'" [alt]="'status-image'" loading="lazy" width="200"
        height="200" />
    </div>
    <div class="confirm-cancel-appointment__status__content">
      <h2 class="confirm-cancel-appointment__status__title">
        {{ translate('are_you_sure_you_want_to_cancel_this_appointment') }}
      </h2>
      <p class="confirm-cancel-appointment__status__subtitle">
        @if (this.calcPriceFacade.isCalculating()) {
        <span>
          {{translate('loading_calc')}}
        </span>
        <span class="dot-loader"></span>

        }@else {

        {{calcPriceFacade.calculationResult()?.message}}
        }
        <!-- {{ 'reservationsList.confirmCancelAppointmentModal.confirmCancelDescription' | translate }} -->
      </p>
    </div>
  </div>

  <div class="confirm-cancel-appointment--actions">
    <button id="cancel-btn" type="button" class="btn btn--outline" (click)="onCancel()"
      [disabled]="this.calcPriceFacade.isCalculating()">
      {{ translate('close') }}
    </button>
    <button [id]="'item-details'" type="submit" class="btn btn--solid" (click)="onConfirmCancelAppointment()"
      [attr.aria-label]="translate('confirm')" [disabled]="this.calcPriceFacade.isCalculating()">
      <span class="btn__label">
        {{ translate('confirm') }}
      </span>
      @if (this.calcPriceFacade.isCalculating()) {
      <span class="dot-loader"></span>
      }
    </button>
  </div>
</section>
