@use "./../../../../common/styles/scss/buttons/button.mixins" as btn;

.confirm-subscription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .btn {
        @include btn.button-base;
        @include btn.button-type("solid");
        @include btn.button-size("medium");
        @include btn.button-icon-position("left");
        @include btn.button-icon-size("medium");
        @include btn.button-color("main");
        @include btn.button-spinner;

        &__icon {
            display: inline-flex;
            align-items: center;
        }

        &__label {
            padding: 0 0.5rem;
            white-space: nowrap;
            font-size: 0.875rem;
            font-weight: 500;
        }

        &--disabled {
            @include btn.button-disabled;
        }
        border-radius: var(--Radius-8);
        padding: var(--Radius-8) 2.3125rem;
        width: fit-content;
        margin-top: 1rem;
        margin: auto;
    }
    &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        padding: 0.75rem;
        border-radius: 0.75rem;
        background: var(--Dark-WHITE);
        &--content {
            display: flex;
            width: 19.5rem;
            flex-direction: column;
            align-items: center;
            gap: 0.75rem;
            &--title {
                color: var(--text-400);
                font-size: 0.875rem;
                font-weight: 600;
                text-align: center;
            }
            &--subtitle {
                color: var(--text-300);
                font-size: 0.75rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}
