// Custom Modal Styles
.modal {
  // Custom Modal Header Style
  .modal-head {
    line-height: 19.36px;
  }

  // Fade-in and Fade-out Animations
  &.fade-enter-active, &.fade-leave-active {
    transition: opacity 0.3s ease;
  }

  &.fade-enter, &.fade-leave-to {
    opacity: 0;
  }

  // Make modal scrollable
  &-content {
    max-height: 80vh;
    overflow-y: auto;
  }
  /* Loading Spinner Styles */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4B5563;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Blur Effect for Main Content */
.blur {
  filter: blur(5px);
  pointer-events: none;
}
}

.flag-container{
  background-color: var(--bg-secondary-color);
  padding: 5px;
  border-radius: 55px;
  color: var(--text-main-color);
}
