.view-psychological-society-post {
    display: flex;
    flex-direction: column;
    height: 100%;
    &--comments {
        display: flex;
        padding: 0.75rem 1rem 0rem 1rem;
        flex-direction: column;
        min-height: 65vh;
        gap: 0.75rem;
    }
    &--add-comment {
        border-radius: var(--Radius-12, 0.75rem);
        background: var(--Dark-WHITE, #fff);
        padding: 0.75rem;
        align-items: center;
        gap: 0.625rem;
        z-index: 1;
    }
}
