<div class="khawiik-voice-types-skeleton">
    <!-- Voices List Skeleton -->
    <section class="khawiik-voice-types-skeleton__items">
        @for (item of skeletonItems; track $index) {
        <div class="khawiik-voice-types-skeleton__item">
            <div class="khawiik-voice-types-skeleton__item-avatar skeleton-box"></div>
            <div class="khawiik-voice-types-skeleton__item-voice-icon skeleton-box"></div>
            <div class="khawiik-voice-types-skeleton__item-voice-name skeleton-text"></div>
        </div>
        }
    </section>
</div>