<main class="articles-listing" role="main" aria-label="Articles Listing">
  <!-- Mobile Segment Control -->
  <div class="articles-listing__segment">
    <app-segment-control [options]="segmentOptions" [selectedId]="selectedSegmentId()"
      (selectionChanged)="onSegmentChanged($event)">
    </app-segment-control>
  </div>

  <aside class="articles-listing__left-panel" [class.mobile-hidden]="!showAllArticles()">
    <section class="articles-listing-layout__program-cards">
      <header class="articles-listing-layout__header">
        <h2 class="title">
          {{ translate(headerConfig.title) }}
        </h2>
        @if (!isLoading() && !errorMessage() && articlesResponse()?.data?.data?.length) {
        <div class="search-box-container">
          <app-global-search-input [inputSearchConfig]="searchConfig()" (valueChanged)="handleSearch($event)"
            (cleared)="handleClearSearch()" />
        </div>
        }
      </header>

      @if (isLoading() || isLoadingFilter()) {
      <div class="articles-listing-layout__program-cards--list" role="list" aria-live="polite">
        @for (i of [].constructor(6); track i) {
        <app-article-card-shimmer></app-article-card-shimmer>
        }
      </div>
      }
      @else if (errorMessage()) {
      <app-error-state [config]="articlesErrorState() "></app-error-state>
      }
      @else if ((articlesResponse()?.data?.data?.length ?? 0) > 0) {
      <div class="articles-listing-layout__program-cards--list" role="list" aria-live="polite">
        @for (article of articlesResponse()!.data!.data; track article.id) {
        <article class="articles-listing-layout__program-cards--card" role="listitem">
          <app-article-card [type]="cardTypes.DETAILS" [item]="article"
            (favouriteToggled)="handleFavouriteToggle($event)" (openPopupAction)="openArticlePopup()" />
        </article>
        }
      </div>
      <app-pagination-listing [paginationConfig]="paginationConfig()" />
      }
      @else {
      <div class="empty-state" aria-live="polite" aria-label="No articles found">
        <app-empty-state [config]="articlesEmptyState"></app-empty-state>
        @if (searchControl.value) {
        <button (click)="handleClearSearch()">{{ translate('delete') }}</button>
        }
      </div>
      }
    </section>
  </aside>

  <section class="articles-listing__my-programs" aria-label="Featured Articles">
    <div class="articles-listing__my-programs-cards" [class.mobile-hidden]="!showMostRead()">
      <app-page-layout-card-header [config]="mostReadHeaderConfig" />
      <div class="articles-listing__my-programs--list" role="list">
        @if (isLoadingMostViewed()) {
        <app-article-card-shimmer></app-article-card-shimmer>
        }
        @else if (mostViewedArticlesErrorMessage()) {
        <app-error-state [config]="MostViewedArticlesErrorState()"></app-error-state>
        }
        @else if (mostViewedArticle()) {
        <article class="articles-listing__my-program--card" role="listitem">
          <app-article-card [type]="cardTypes.DETAILS" [item]="mostViewedArticle()!"
            (favouriteToggled)="handleFavouriteToggle($event)" />
        </article>
        }
        @else {
        <app-empty-state [config]="articlesEmptyState"></app-empty-state>
        }
      </div>
    </div>

    <div class="articles-listing__my-programs-cards" [class.mobile-hidden]="!showFavourite()">
      @if (isLoggedIn()) {
      <app-page-layout-card-header [config]="mostFavoriteHeaderConfig()" (allClicked)="openFavouriteArticlesPopup()" />
      <div class="articles-listing__my-programs--list" role="list">
        @if (isLoadingFavorites()) {
        <app-article-card-shimmer></app-article-card-shimmer>
        }
        @else if (favoriteArticlesErrorMessage()) {
        <app-error-state [config]="favouriteArticlesErrorState()"></app-error-state>
        }
        @else if ((favoriteArticles()?.length ?? 0) > 0) {
        @for (article of favoriteArticles()!.slice(0,4); track article.id) {
        <article class="articles-listing__my-program--card" role="listitem">
          <app-article-card [type]="cardTypes.DETAILS" [item]="article"
            (favouriteToggled)="handleFavouriteToggle($event)" />
        </article>
        }
        }
        @else {
        <app-empty-state [config]="articlesEmptyState"></app-empty-state>
        }
      </div>
      }
      @else if(!isLoadingFavorites()) {
      <app-compelete-data-and-register-now [isEmptyState]="true"></app-compelete-data-and-register-now>
      }
    </div>
  </section>
</main>