<div class="popup">

  <div class="popup__card d-flex flex-col gap-4">
    <button class="popup--close" aria-label="close" (click)="closeModal()">
      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M4.97977 5.4797C5.17504 5.28444 5.49162 5.28444 5.68688 5.4797L7.99999 7.79281L10.3131 5.4797C10.5084 5.28444 10.825 5.28444 11.0202 5.4797C11.2155 5.67496 11.2155 5.99154 11.0202 6.18681L8.7071 8.49992L11.0202 10.813C11.2155 11.0083 11.2155 11.3249 11.0202 11.5201C10.825 11.7154 10.5084 11.7154 10.3131 11.5201L7.99999 9.20703L5.68688 11.5201C5.49162 11.7154 5.17504 11.7154 4.97977 11.5201C4.78451 11.3249 4.78451 11.0083 4.97977 10.813L7.29289 8.49992L4.97977 6.18681C4.78451 5.99154 4.78451 5.67496 4.97977 5.4797Z"
          fill="#292D32" />
      </svg>
    </button>
    <div class="d-flex align-items-start gap-2">
      <svg class="mt-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10 6V10M10 14H10.01M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
          stroke="#E00000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <div class="d-flex flex-col gap-2">
        <p class="popup__card__title">{{ translate("confirm_deletion") }}</p>
        <p class="popup__card__sub-title">{{ translate("confirm_delete_post_action_irreversible") }}</p>
      </div>
    </div>
    <div class="buttons d-flex align-items-center justify-end gap-2">
      <button id="back" type="button" class="btn btn--outline" (click)="closeModal()"
        [attr.aria-label]="translate('back')">
        <span class="btn__label">{{ translate("back") }}</span>
      </button>

      <button id="logOut" type="button" class="btn btn--solid" (click)="confirmDelete()"
        [attr.aria-label]="translate('delete')">
        <span class="btn__label">{{ translate("delete") }}</span>
      </button>
    </div>
  </div>
</div>