.accordion {
  contain: content;
}

.accordion-menu {
  background: transparent;
  border-radius: 0;

  &__item {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    gap: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-top: 0.5rem;

    &:hover {
      // background: #f0f0f0;
    }

    &:focus {
      outline: none;
      outline-offset: 0;
    }
  }

  &__title {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__username {
    color: var(--text-400, #0f0f0f);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
  }

  &__toggle-icon {
    font-size: 1.25rem;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  &__content {
    display: none;
    padding: 0rem 0.75rem 0.75rem 0.75rem;
    background: var(--Gray-White, #feffff);
    border-radius: 1rem;

    &--open {
      display: block;
      margin-top: 0.75rem;
    }
  }

  &__content-inner {
    padding: 0;
    color: #333333;
  }

  &__reaction {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
}
