<div class="search-waiting-doctor">
  <div class="search-waiting-doctor__content">
    <div class="search-waiting-doctor__image-spinner-container" role="status" aria-live="polite">
      <img src="images/icons/loading-waiting-icon.png" alt="{{ translate('doctor_search_in_progress') }}"
        width="100" height="100" loading="lazy" />
    </div>

    <div class="search-waiting-doctor__titles">
      <h3 class="search-waiting-doctor__title">
        {{ translate('waiting_doctor_modal_wait_title') }}
      </h3>
      <p class="search-waiting-doctor__subtitle">
        @if(!isInitialLoading()) {
        {{translate('no_doctor_available_notice')}} {{remainingTimeMinutes()}} {{':'}}
        {{padZero(remainingTimeSeconds())}} {{translate('minute')}}
        } @else {
        <span class="cancel-dots" aria-live="polite" aria-label="loading">
          {{ translate('waiting_doctor_modal_warning_label') }} <span class="dot-loader"></span>
          {{translate('minute')}}
        </span>
        }
      </p>
    </div>
  </div>

  <div class="search-waiting-doctor__actions">
    <button type="button" class="btn btn--outline" (click)="cancelRequest()" [attr.aria-label]="translate('cancel')"
      [disabled]="isCancelling()">
      <ng-container *ngIf="!isCancelling(); else loading">
        <span class="btn__label">{{ translate('cancel_search') }}</span>
      </ng-container>
      <ng-template #loading>
        <div class="search-waiting-doctor__actions__loading" aria-label="Submit in progress">
          {{ translate('in_progress') }}
          <span class="dot-loader"></span>
        </div>
      </ng-template>
    </button>
  </div>
</div>