.important-number-card {
    border-radius: 0.625rem;
    border: 1px solid var(--Dark-50, #f6f7f8);
    background: var(--Dark-WHITE, #fff);
    display: flex;
    padding: 0.75rem;
    justify-content: space-between;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__title {
        color: var(--text-300, #47586e);
        font-size: 0.75rem;
        font-weight: 400;
        margin: 0;
        text-align: right;
    }

    &__number {
        color: var(--text-primary, #000);
        font-size: 0.875rem;
        font-weight: 600;
        margin: 0;
        text-align: right;
    }

    &__icon {
        display: flex;
        padding: 0.5rem;
        cursor: pointer;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.5rem;
        background: var(--Primary-100, #dbe1f4);
    }
}
