<div class="aside-filteration-skeleton">
    <div class="aside-filteration-skeleton__group">
        <div class="aside-filteration-skeleton__label-shimmer"></div>
        <div class="aside-filteration-skeleton__checkbox-group">
            @for (item of [1,2,3,4]; track $index) {
            <div class="aside-filteration-skeleton__checkbox-shimmer"></div>
            }
        </div>
    </div>

    <div class="aside-filteration-skeleton__group">
        <div class="aside-filteration-skeleton__label-shimmer"></div>
        <div class="aside-filteration-skeleton__checkbox-group">
            @for (item of [1,2]; track $index) {
            <div class="aside-filteration-skeleton__checkbox-shimmer"></div>
            }
        </div>
    </div>

    <div class="aside-filteration-skeleton__group">
        <div class="aside-filteration-skeleton__label-shimmer"></div>
        <div class="aside-filteration-skeleton__checkbox-group">
            @for (item of [1,2,3]; track $index) {
            <div class="aside-filteration-skeleton__checkbox-shimmer"></div>
            }
        </div>
    </div>

    <div class="aside-filteration-skeleton__group">
        <div class="aside-filteration-skeleton__label-shimmer"></div>
        <div class="aside-filteration-skeleton__range-group">
            <div class="aside-filteration-skeleton__input-shimmer"></div>
            <div class="aside-filteration-skeleton__separator-shimmer"></div>
            <div class="aside-filteration-skeleton__input-shimmer"></div>
        </div>
    </div>

    <div class="aside-filteration-skeleton__group">
        <div class="aside-filteration-skeleton__label-shimmer"></div>
        <div class="aside-filteration-skeleton__checkbox-group">
            @for (item of [1,2,3,4,5]; track $index) {
            <div class="aside-filteration-skeleton__checkbox-shimmer"></div>
            }
        </div>
    </div>

    <div class="aside-filteration-skeleton__group">
        <div class="aside-filteration-skeleton__label-shimmer"></div>
        <div class="aside-filteration-skeleton__multi-select-group">
            @for (item of [1,2,3,4,5]; track $index) {
            <div class="aside-filteration-skeleton__multi-select-shimmer"></div>
            }
        </div>
    </div>

    <div class="aside-filteration-skeleton__actions">
        <div class="aside-filteration-skeleton__button-shimmer aside-filteration-skeleton__button-shimmer--reset"></div>
        <div class="aside-filteration-skeleton__button-shimmer aside-filteration-skeleton__button-shimmer--submit">
        </div>
    </div>
</div>
