.depressive-disorder-scale-card {
    display: flex;
    gap: 1rem;
    height: 100%;
    &__details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
        height: 100%;
    }

    &__see-button {
        display: flex;
        padding: 0.25rem 0.625rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background: var(--Primary-50);
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        align-items: center;
        &-header {
            display: flex;
            flex-direction: column;
        }
        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0.625rem;
            p {
                font-size: 0.6875rem;
            }

            @media (max-width: 1300px) and (min-width: 1200px) {
                p {
                    max-width: 11.25rem;
                }
            }
        }
    }
    &__title {
        color: var(--Primary-primary);
        font-size: 0.75rem;
        font-weight: 500;
    }
    &__date {
        color: var(--text-100);
        font-size: 0.75rem;
        font-weight: 400;
    }

    &__thumbnail {
        width: 2.4375rem;
        height: 2.6875rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.75rem;
        background: linear-gradient(180deg, #cae8db 0%, #e7d4ba 100%);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
