@use "../../../../common/styles/scss/abstracts/base-layout-mixins" as *;
@use "../../../../common/styles/scss/abstracts/mixins" as *;

.khawiik-layout {
  @include baseLayout;

  &__header {
    width: 100%;
  }

  &__container {
    background: linear-gradient(270deg, #f9ebde 0%, #e0f6e9 31.25%, #fcecdb 72.6%, #f6ecea 95.67%), #f6f7f8;
    height: 80vh;
    border-radius: 1rem;
    overflow: hidden;

    &--chat-background {
      background: linear-gradient(180deg, var(--Primary-50, #e7ebf8) 0%, #fff 100%);
      box-shadow:
        0 -1px 50px 9px rgba(0, 0, 0, 0.08),
        0 0 0 1.5px rgba(255, 255, 255, 0.25) inset;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__send-action {
    display: flex;
    padding: 0.5rem 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    .chat-input {
      width: 100%;
    }
  }
}

/* ====== Shimmer Loading ====== */
.shimmer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1rem;
  background: #fff;
  overflow: hidden;
}

.shimmer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0.75rem 1.25rem;
  gap: 0.75rem;
  flex: 1;
  width: 100%;
}

.shimmer-wrapper {
  border-radius: 0.75rem;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 800px 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }

  100% {
    background-position: 800px 0;
  }
}

.shimmer-message {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: flex-start;

  &--user {
    justify-content: flex-start;
  }

  &--bot {
    flex-direction: row-reverse;

    .shimmer-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.375rem;
      max-width: 80%;
      align-items: flex-end;
    }
  }
}

.shimmer-icon {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  background-color: #edeef1;
  flex-shrink: 0;
}

.shimmer-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  min-width: 25%;
  max-width: 60%;
  box-sizing: border-box;
  align-items: flex-end;
}

.shimmer-text-line {
  height: 0.75rem;
  border-radius: 4px;
  background-color: #edeef1;

  &--short {
    width: 60%;
  }

  &--long {
    width: 90%;
  }
}

.shimmer-timestamp {
  height: 0.75rem;
  width: 40px;
  border-radius: 4px;
  background-color: #edeef1;
  margin-top: 0.25rem;
}