@use "../../../../common/styles/scss/abstracts/mixins" as *;

.mood-chart {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 0.75rem;
  border: 1px solid var(--Dark-100);
  background: var(--Dark-WHITE);
  height: 100%;

  &__header {
    margin-bottom: 10px;
  }

  &__title {
    color: var(--text-400);
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--text-300);
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 15rem;
    padding-bottom: 20px;
    gap: 30px;
  }

  &__y-axis {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
    justify-content: center;
    gap: 8px;
    margin-bottom: 14px;
    z-index: 2;
  }

  &__emoji {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__bars {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    gap: 0.8rem;

    .mood-chart__line {
      position: absolute;
      left: 0;
      z-index: 0;

      &--1 {
        top: 30px;
      }

      &--2 {
        top: 62px;
      }

      &--3 {
        top: 95.5px;
      }

      &--4 {
        top: 127px;
      }

      &--5 {
        top: 160px;
      }

      @include respond(md) {
        &--1 {
          top: 21px;
        }

        &--2 {
          top: 47px;
        }

        &--3 {
          top: 71.5px;
        }

        &--4 {
          top: 97px;
        }

        &--5 {
          top: 123px;
        }
      }

      @include respond(xs) {
        &--1 {
          top: 17px;
        }

        &--2 {
          top: 40px;
        }

        &--3 {
          top: 63.5px;
        }

        &--4 {
          top: 87px;
        }

        &--5 {
          top: 109px;
        }
      }
    }
  }

  &__bar-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }

  &__bar {
    width: 1.0569rem;
    height: 11.5299rem;
    border-radius: 1.3452rem;
    transition: height 0.3s;
    z-index: 2;
  }

  &__date {
    color: var(--text-300);
    font-size: 0.5765rem;
    font-weight: 400;
    transform: rotate(-45deg);
    margin-top: 10px;
  }

  // Calender SCSS
  &__days {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4375rem;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    // flex: 1 0 0;
  }

  &__weekday {
    display: flex;
    padding: 1.5rem 0.1rem;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
    align-self: stretch;

    border-radius: 0.375rem;
    border: 1px solid var(--Dark-50, #f6f7f8);
    background: var(--Dark-50, #f6f7f8);

    .text {
      transform: rotate(-45deg);

      color: var(--Primary-primary, #0e39b6);
      text-align: center;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__mood {
    display: flex;
    width: 2.125rem;
    height: 2.125rem;
    flex-shrink: 0;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.75rem;
    border: 1px solid var(--Dark-50, #f6f7f8);
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// .mood-chart__day.active {
//   // Example styles to make it stand out
//   border: 2px solid var(--primary-color, #007bff); // Use a primary color variable or a specific color
//   background-color: var(--active-bg-color, #e6f7ff); // A light background color
//   box-shadow: 0 0 8px rgba(0, 123, 255, 0.3); // A subtle shadow
//   transform: translateY(-2px); // A slight lift
//   transition: all 0.2s ease-in-out; // Smooth transition for visual feedback
// }
.mood-chart__day.active {
  .mood-chart__weekday {
    border-radius: 0.375rem;
    border: 1px solid var(--Primary-primary, #0e39b6);
    background: var(--Primary-50, #e7ebf8);
  }
  .mood-chart__mood {
    border-radius: 0.75rem;
    border: 1px solid var(--Primary-primary, #0e39b6);
    background: var(--Primary-50, #e7ebf8);
  }
}
