.user-info-card {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  flex-direction: column;
  background: url("../../../../../../public/images/settings/main-page/Section-Content-1.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.375rem;
    flex-wrap: wrap;
    align-self: stretch;
  }

  &__right-side {
    display: flex;
    padding: 0.125rem 0rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.375rem;
    align-self: stretch;
  }

  &__avatar {
    width: 3.3125rem;
    height: 3.3125rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__action-button {
    display: flex;
    padding: 0.1875rem 0.5rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0px);
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-welcome {
      color: var(--text-300, #47586e);
      font-size: 0.75rem;
      font-weight: 500;
    }

    &-name {
      color: var(--text-primary, #000);
      font-size: 1.125rem;
      font-weight: 600;
    }

    &-code {
      color: var(--text-300, #47586e);
      font-size: 0.75rem;
      font-weight: 500;
      direction: ltr;
    }
  }

  &__inforamtion {
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: var(--Radius-12, 0.75rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(0px);
    padding: 0.5rem 0.25rem;

    &-item {
      display: flex;
      padding: 0.25rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      flex: 1 0 0;

      &-value {
        color: var(--text-400, #0f0f0f);
        font-size: 0.75rem;
        font-weight: 500;
      }

      &-label {
        color: var(--text-300, #47586e);
        font-size: 0.75rem;
        font-weight: 400;
      }
    }
  }
}