<main class="login-password" role="main">
  <section class="login-password__container">
    <div class="login-password__welcome">
      <p class="login-password__welcome-title">
        {{ "enter_password" | translate }}
      </p>
      <p class="login-password__welcome-description">
        {{ "welcome_safe_space" | translate }}
      </p>
    </div>
    <form class="general-form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="general-form-wrapper__groups">
        @for (field of formConfig; track $index) {
        <div class="general-form-wrapper__field {{field.widthClass}}">
          <div class="general-form-wrapper__label-group">
            @if (field.label) {
            <label [for]="field.name" class="general-form-wrapper__label" [ngClass]="{
                  'general-form-wrapper__label--error': getError(field.name),
                  'general-form-wrapper__label--clickable': field.enableLabelClick
                }">
              {{ field.label | translate }}
              @if (field.isRequired) {
              <span class="general-form-wrapper__required">*</span>
              }
            </label>
            }
          </div>

          <div class="custom-input-wrapper custom-input-wrapper--with-icon custom-input-wrapper--icon-start"
            [class.p-invalid]="getError(field.name)">
            <span class="custom-input-wrapper__icon" role="img" [attr.aria-label]="field.label  || '' | translate">
              <img [src]="field.inputIcon" [alt]="field.label || '' | translate" />
            </span>

            <input [id]="field.name" [formControlName]="field.name" [type]="inputType()"
              [placeholder]="(field.placeholder || '') | translate" [attr.aria-label]="(field.label || '') | translate"
              class="custom-input-wrapper__input" [disabled]="field.isDisabled ?? false"
              [attr.autocomplete]="'current-password'" [attr.aria-invalid]="getError(field.name) ? 'true' : 'false'"
              [attr.aria-describedby]="getError(field.name) ? field.name + '-error' : null" />

            <button type="button" class="password-toggle-btn" (click)="toggleVisibility()"
              [attr.aria-label]="passwordVisible() ? ('general.hidePassword' | translate) : ('general.showPassword' | translate)">
              @if (passwordVisible()) {
              <app-svg-icon name="eye-slash"></app-svg-icon>
              }
              @if (!passwordVisible()) {
              <app-svg-icon name="eye-open"></app-svg-icon>
              }
            </button>
          </div>
          <div class="login-password__forget-password">
            <a class="login-password__forget-password--btn" (click)="onForgotPassword()">
              {{ 'form.forgetPassword' | translate }}
            </a>
          </div>

          @if (getError(field.name)) {
          <div class="general-form-wrapper__error-message" [id]="field.name + '-error'" aria-live="polite">
            {{ getValidationErrorMessage(field.name, field.validation ?? []) | translate }}
          </div>
          }
        </div>
        }
      </div>

      <div class="general-form-wrapper__actions">
        <button id="btn" type="submit" class="btn btn--solid" [disabled]="_LoginPasswordFacade.loading()"
          [attr.aria-label]="'login' | translate">
          <span class="btn__label">
            @if (_LoginPasswordFacade.loading()) {
            <div class="general-form-wrapper__actions__loading" aria-label="Submit in progress" aria-live="polite">
              {{ 'in_progress' | translate }}
              <span class="dot-loader"></span>
            </div>
            }
            @if (!_LoginPasswordFacade.loading()) {
            {{ 'login' | translate }}
            }
          </span>
        </button>
      </div>
    </form>
  </section>
</main>