@use "./../../../../../common/styles/scss/abstracts/general-form-wrapper.mixins" as form;
@use "./../../../../../common/styles/scss/abstracts/mixins" as *;
@use "./../../../../../common/styles/scss/abstracts/mixins" as responsive;

.login-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-title {
      font-weight: 600;
      font-size: 2rem;
      margin: 0;

      @include responsive.respond(sm) {
        font-size: 1.5rem;
      }
    }

    &-description {
      font-weight: 500;
      font-size: 14px;
      color: var(--text-300);
      margin: 0;

      @include responsive.respond(sm) {
        font-size: 0.8rem;
      }
    }
  }

  &__forget-password {
    display: flex;
    align-items: center;
    justify-content: end;

    &--btn {
      color: var(--Primary-primary, #0e39b6);
      font-size: var(--fontSize-12, 0.75rem);
      font-style: normal;
      font-weight: var(--fontWeight-medium, 500);
      line-height: 150%;

      cursor: pointer;
    }
  }

  .general-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__groups {
      // display: grid; // Change to grid layout
      // grid-template-columns: repeat(4, 1fr); // 4-column grid
      // gap: 0.75rem;

      // padding: 0.75rem;
      // border-radius: 0.75rem;
      // background: var(--Dark-WHITE, #fff);
    }

    &__field {
      @include form.general-form-wrapper-field;
    }

    &__label-group {
      @include form.general-form-wrapper-label-group;
    }

    &__label {
      @include form.general-form-wrapper-label;
    }

    &__required {
      @include form.general-form-wrapper-required;
    }

    &__error-message {
      @include form.general-form-wrapper-error;
    }

    .form-field {
      @include form.general-form-field;
    }

    &__actions {
      @include form.general-form-wrapper-actions;
      &__loading {
        display: flex;
        align-items: center;
      }

      .dot-loader::after {
        content: "";
        animation: dots 1.5s steps(4, end) infinite;
        white-space: pre;
      }

      @keyframes dots {
        0% {
          content: "";
        }
        25% {
          content: ".";
        }
        50% {
          content: "..";
        }
        75% {
          content: "...";
        }
        100% {
          content: "";
        }
      }
    }

    &__loading {
      display: inline-block;
      animation: spin 1s linear infinite;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.custom-input-wrapper {
  display: flex;
  padding: 0rem 16px;
  align-items: center;
  gap: 0.5rem;
  height: 3.125rem;
  color: #a3adbb;
  font-size: 0.875rem;
  border-radius: 0.75rem;
  color: black;
  overflow: hidden;
  border: 1px solid #eeeeee;

  &.p-invalid {
    border: 1px solid red;
  }

  &__icon {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 100%;

    &::placeholder {
      color: #a3adbb !important;

      font-size: 0.875rem !important;
      font-weight: 500 !important;
    }
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;

    &::placeholder {
      color: #a3adbb;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  &--with-icon {
    gap: 0.5rem;
  }

  &--icon-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .custom-input-wrapper__icon {
      order: 0;
    }
  }

  &--icon-end {
    flex-direction: row-reverse;

    .custom-input-wrapper__icon {
      order: 1;
    }
  }

  .password-toggle-btn {
    @include respond(sm) {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
