.podcast-card {
  display: flex;
  gap: 1rem;
  height: 100%;
  cursor: pointer;
  border-radius: var(--Radius-12, 0.75rem);
  border: 1px solid var(--Dark-50, #f6f7f8);
  padding: 0.75rem;
  background: var(--Dark-WHITE, #fff);

  &__details {
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    width: 100%;
    height: 100%;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__like-button,
  &__duration-button {
    display: flex;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 1rem;
    background: var(--Dark-50);
  }

  &__duration {
    color: var(--text-main-color);
    font-size: 0.5rem;
    font-weight: 500;

    &-button {
      background: var(--Primary-50);
    }

    &:dir(rtl) {
      font-size: 0.75rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: space-between;

    &-header {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.625rem;

      p {
        font-size: 0.6875rem;
      }

      @media (max-width: 1300px) and (min-width: 1200px) {
        p {
          max-width: 11.25rem;
        }
      }
    }
  }

  &__description {
    color: var(--text-300);
    font-size: 0.8125rem;
    font-weight: 400;
  }

  &__title {
    font-size: 1.125rem;
    color: var(--text-primary, #000);
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__details {
    color: var(--text-100);
    font-size: 0.75rem;
    font-weight: 400;

    .podcast-card__guest {
      color: black;
    }

    .podcast-card__name {
      color: black;
    }
  }

  &__thumbnail {
    width: 3.0625rem;
    height: 3.0625rem;
    border-radius: 0.75rem;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
