@use "../../../../common/styles/scss/abstracts/mixins" as *;

.all-doctors {
    margin: 0 1rem 1rem 1rem;
    height: 100%;

    &__container {
        margin-inline-end: 0.5rem;
        background-color: var(--Dark-WHITE);
        border-radius: 0.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
    &__list {
        gap: 1.25rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        @include respond(md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
