@use "./../../../../common/styles/scss/abstracts/mixins" as *;

.complaint-details {
    &__container {
        display: flex;
        padding: 0.75rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 0.75rem;
        background: var(--Dark-WHITE, #fff);
        margin: 1rem;
    }

    &__card {
        width: 100%;
        pointer-events: none;
    }

    &__section {
        display: flex;
        gap: var(--Spacing-4S, 0.25rem);
        width: 100%;
        flex-direction: column;
    }

    &__title {
        color: var(--text-400, #0f0f0f);
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0;
    }

    &__content {
        display: flex;
        padding: var(--Spacing-3S, 0.5rem) 1rem;
        gap: var(--Spacing---1xl, 1rem);
        border-radius: var(--Radius-12, 0.75rem);
        background: var(--Dark-50, #f6f7f8);
        color: var(--Dark-300, #a5a5a5);
        font-size: var(--fontSize-14, 0.875rem);
        font-weight: var(--fontWeight-medium, 500);
        width: 100%;
        min-height: 3rem;
        align-items: center;
    }

    &__gallery {
        width: 100%;
    }

    &__images-list {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        flex-wrap: wrap;
    }

    &__image-card {
        display: flex;
        width: 3.125rem;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: var(--Radius-8, 0.5rem);
        border: 1px solid var(--Dark-50, #f6f7f8);
        background: rgba(0, 0, 0, 0.35);
        overflow: hidden;
        cursor: pointer;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
