@use "../../../../common/styles/scss/abstracts/mixins" as *;
.podcast-card {
    @include flex-box(row, 1rem, null, null);
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    height: 100%;
    &--mobile {
        border-radius: 0.75rem;
        background: rgba(255, 255, 255, 0.39);
        backdrop-filter: blur(15.899999618530273px);
        .podcast-card__thumbnail {
            width: 4.46838rem;
            height: 4.46838rem;
            flex-shrink: 0;
        }
    }
    &--border {
        @include respond(sm) {
            border: 1px solid var(--Dark-50, #f6f7f8);
        }
    }
    &:hover,
    &:focus-visible {
        box-shadow: none;
    }

    &__container {
        @include flex-box(column, 0.5rem, null, null);
        flex: 1;
    }

    &__thumbnail {
        width: 3.0625rem;
        height: 3.0625rem;
        flex-shrink: 0;
        border-radius: 0.75rem;
        overflow: hidden;
    }

    &__image {
        @include img-cover();
    }

    &__content {
        @include flex-box(column, 0.5rem, null, null);
        flex: 1;
    }

    &__header {
        @include flex-box(row, 0.5rem, center, space-between);
    }

    &__header-actions {
        @include flex-box(row, 0.5rem, center, null);
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &[aria-hidden="true"] {
            display: none;
        }
    }

    &__checkbox-wrapper {
        position: relative;
        width: 1.125rem;
        height: 1.125rem;
        border: 1.5px solid var(--Primary-primary, #0e39b6);
        border-radius: 4px;
        background-color: var(--Dark-WHITE);
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        &::after {
            content: "";
            @include abs-logical(absolute, 0.125rem, null, 0.375rem, null, null);
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &--checked {
            background-color: var(--Primary-primary, #0e39b6);
            border-color: var(--Primary-primary, #0e39b6);

            &::after {
                opacity: 1;
            }
        }

        &--disabled:not(.podcast-card__checkbox-wrapper--checked) {
            background-color: var(--Dark-WHITE);
            border-color: #ccc;
        }

        &--disabled.podcast-card__checkbox-wrapper--checked {
            background-color: var(--Primary-primary, #0e39b6);
            border-color: var(--Primary-primary, #0e39b6);

            &::after {
                opacity: 1;
            }
        }
    }
    &__like-button {
        @include flex-box(row, 0.125rem, center, center);
        padding: 0.25rem 0.625rem;
        border-radius: 1rem;
        background: var(--Dark-50, #f6f7f8);
    }

    &__title {
        @include text-style(0.875rem, var(--text-primary, #000), 600);
    }

    &__duration-button {
        @include flex-box(row, 0.25rem, center, null);
        padding: 0.25rem 0.625rem;
        border: none;
        border-radius: 1rem;
        background: var(--Primary-50);
        cursor: pointer;
        white-space: nowrap;
    }

    &__duration {
        @include text-style(0.75rem, var(--text-main-color), 500);
    }

    &__description {
        @include text-style(0.8125rem, var(--text-300), null);
    }

    &__meta {
        @include flex-box(row, 0.5rem, center, space-between);

        &-container {
            @include text-style(0.6875rem, var(--text-100), null);

            .podcast-card__guest,
            .podcast-card__name {
                color: var(--text-primary, #000);
            }
        }
    }

    &__actions {
        @include flex-box(row, 0, center, flex-end);
    }
}
