<div class="session-expired-modal">
    <div class="session-expired-modal__content">
        <img src="images/khawiik/khawiik-welcome-mian-icon-2.png" alt="Session Expired"
            class="session-expired-modal__icon" />

        <h2 class="session-expired-modal__title">
            {{ translate('time_period_ended') }}
        </h2>

        <p class="session-expired-modal__description">
            {{ translate('session_expired_start_new_period') }}
        </p>

        <button class="session-expired-modal__button" (click)="onStartNewSession()">
            {{ translate('start_now') }}
        </button>
    </div>
</div>