<div class="mood-statistics">
    <div class="mood-statistics--today">
        <p class="mood-statistics--today__title">
            {{ 'talbinahCommunity.mood.todayMoodInCommunity' | translate }}
        </p>
        <div class="mood-statistics--today__statistic">
            <p><span> {{ config.number }}% {{ 'talbinahCommunity.mood.peopleExpressedMood' | translate }}</span></p>
            <p>
                @switch (config.mood.id) {
                @case (0) {
                <app-get-mood-svg [mood]="mood.HAPPY"></app-get-mood-svg>
                }
                @case (1) {
                <app-get-mood-svg [mood]="mood.FRIENDLY"></app-get-mood-svg>
                }
                @case (2) {
                <app-get-mood-svg [mood]="mood.LOVING"></app-get-mood-svg>
                }
                @case (3) {
                <app-get-mood-svg [mood]="mood.SAD"></app-get-mood-svg>
                }
                @case (4) {
                <app-get-mood-svg [mood]="mood.TIRED"></app-get-mood-svg>
                }
                }
                <span>{{config.mood.title}}</span>
            </p>
        </div>
    </div>
    <div class="mood-statistics--support-statistics">
        <p class="mood-statistics--support-statistics__title">
            {{ 'talbinahCommunity.supportStats.title' | translate }}
        </p>
        <div class="mood-statistics--support-statistics__statistic">
            <p><span>
                    {{ 'talbinahCommunity.supportStats.youSupportedToday' | translate }}
                </span></p>
            <p>
                {{ config.count }} {{ 'talbinahCommunity.supportStats.people' | translate }}
            </p>
        </div>
    </div>
</div>