.my-saved-posts {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    gap: 0.75rem;
    .posts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: var(--Radius-12, 0.75rem);
        background: var(--Dark-WHITE, #fff);
        margin-inline-end: 0.5rem;
    }
}
