<div class="my-saved-posts">
    <div class="tabs">
        <app-tab-switcher [tabs]="tabs()" (tabSelected)="onTabInterestSelected($event)"
            [isLoadingItems]="isLoadingPosts"></app-tab-switcher>
    </div>
    <div class="posts-container" appAutoExactHeight heightMode="max-height">
        <div class="posts">
            @if (isLoadingPosts() || isLoadingPostsFilter()) {
            <div class="posts-loading-state">
                <!-- <app-main-page-shemmer></app-main-page-shemmer> -->
                <app-psychological-society-card-shemmer class="w-100"></app-psychological-society-card-shemmer>
                <!-- <p>{{ 'loading_posts' | translateApi }}</p> -->
            </div>
            } @else if (allPostsResponse()?.data?.data?.length) {
            @for (postItem of allPostsResponse()?.data?.data; track postItem.id) {
            <app-psychological-society-card [type]="cardType.DETAILS" [isEnableCommented]="true" [hasBorder]="false"
                [userIdentityProfileData]="this.userIdentityProfileDataSignal"
                (commentChanged)="handleCommentChange($event)" [config]="postItem"
                (editPostAction)="editPostDetails($event)" (deletePostAction)="deletePost($event)" />
            }
            }@else {
            @if (selectedTab() && selectedTab()?.id !== 0) {
            <app-empty-state [config]="postsEmptyState" class="w-100"></app-empty-state>
            <!-- {{'no_posts_found_for_this_interest' | translateApi }} "{{ selectedTab()?.title}}" -->
            } @else {
            <app-error-state [config]="postsErrorState" class="w-100"></app-error-state>
            <!-- <p>{{'no_posts_available_at_the_moment' | translateApi}}</p> -->
            }
            }
        </div>
    </div>
</div>