@use "./../../../../common/styles/scss/abstracts/mixins" as *;
@use "./../../../../common/styles/scss/buttons/button.mixins" as btn;

.government-agency-verification {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  gap: 0.75rem;
  align-items: stretch;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-inline-end: 0.5rem;
  }

  &__email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__row {
      display: flex;
      gap: 0.75rem;
      flex-wrap: wrap;
      width: 100%;
    }

    &__form-group {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      &--domain {
        flex: 1;
        min-width: 0;
      }

      &--email {
        flex: 3;
        min-width: 0;
      }
    }

    &__label {
      font-weight: 600;
      font-size: 0.875rem;
    }

    &__inputs {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      background-color: var(--Dark-WHITE);
      overflow: hidden;
      width: 100%;
    }

    &__input {
      padding: 0.5rem 0.75rem;
      border: none;
      font-size: 1rem;
      outline: none;
      flex: 1;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:invalid {
        border-color: red;
      }
    }

    &__domain {
      padding: 0.5rem 0.75rem;
      background-color: #f0f0f0;
      color: #777;
      font-size: 0.95rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }

    &__error {
      color: #e53935;
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }

  &__button-loading {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    .dot-loader::after {
      content: "";
      animation: dots 1.5s steps(4, end) infinite;
    }

    @keyframes dots {
      0% {
        content: "";
      }

      25% {
        content: ".";
      }

      50% {
        content: "..";
      }

      75% {
        content: "...";
      }

      100% {
        content: "";
      }
    }
  }

  &__code-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__code-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.75rem;
    border-radius: 0.75rem;
    background: var(--Dark-WHITE, #fff);

    &--label {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      flex-wrap: wrap;

      .text {
        color: var(--text-300, #47586e);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .value {
        color: var(--text-400, #0f0f0f);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  &__otp-input {
    &--error {
      border: 1px solid var(--Danger-600, #ca4146);
      border-radius: 0.5rem;
      padding: 0.5rem;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error-message {
    color: var(--Danger-600, #ca4146);
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__button-loading {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    .dot-loader::after {
      content: "";
      animation: dots 1.5s steps(4, end) infinite;
    }

    @keyframes dots {
      0% {
        content: "";
      }

      25% {
        content: ".";
      }

      50% {
        content: "..";
      }

      75% {
        content: "...";
      }

      100% {
        content: "";
      }
    }
  }

  .btn {
    @include btn.button-base;
    @include btn.button-type("solid");
    @include btn.button-size("medium");
    @include btn.button-icon-position("left");
    @include btn.button-icon-size("medium");
    @include btn.button-color("main");
    @include btn.button-spinner;

    width: fit-content;
    justify-content: flex-end;

    &__label {
      padding: 0 0.5rem;
      white-space: nowrap;
    }

    &--disabled {
      @include btn.button-disabled;
    }
  }
}
