@use "../../../../common/styles/scss/abstracts/mixins" as *;

.talbinah-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    background: url("../../../../../../public/images/settings/main-page/Section-Content-2.png") no-repeat;
    width: 24.5625rem;
    height: 10.1875rem;
    justify-content: center;
    border-radius: 1rem;
    background-size: cover;
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title {
            color: var(--Primary-primary, #0e39b6);
            text-align: center;
            font-size: 0.75rem;
            font-weight: 500;
        }
        &-description {
            color: var(--Primary-primary, #0e39b6);
            text-align: center;
            font-size: 0.875rem;
            font-weight: 700;
        }
    }
    @include respond(lg) {
        width: 100%;
    }
}
