@use "../../../../common/styles/scss/abstracts/mixins" as *;

.user-info {
  position: relative;

  &__button {
    display: flex;
    padding: 0.125rem 0.5625rem 0.125rem 0.125rem;
    align-items: center;
    gap: 0.375rem;
    align-self: stretch;
    border-radius: 1.25rem;
    background: var(--Dark-WHITE);
    text-align: start;

    &:dir(rtl) {
      padding: 0.125rem 0.125rem 0.125rem 0.5625rem;
    }

    @include respond(sm) {
      padding: 0 !important;
      background: transparent;

      .user-info__welcome {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }
  }

  &__logout {
    &--link {
      cursor: pointer;
    }
  }

  &__image-container {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;

    &--img {
      width: 100%;
      height: 100%;
    }
  }

  &__welcome {
    display: flex;
    flex-direction: column;

    &--text {
      color: var(--text-300, #47586e);
      font-size: 0.625rem;
      font-weight: 500;

      @include respond(sm) {
        color: var(--Dark-light-500, #708387);
        font-size: 0.75rem;
        font-weight: 400;
      }
    }

    &--name {
      color: var(--text-dark);
      font-size: 0.875rem;
      font-weight: 500;

      @include respond(sm) {
        color: var(--main-color-950, #050c15);
        font-size: 0.9375rem;
        font-weight: 400;
      }
    }
  }

  &__icon {
    svg {
      transition: transform 0.3s ease;
    }

    &.rotated {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__details {
    background-color: var(--Dark-WHITE);
    position: absolute;
    top: 3rem;
    z-index: 5;
    right: 0;
    display: flex;
    padding: 0.75rem 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 0.75rem;
    background: var(--Dark-WHITE);
    box-shadow: 0px 0.25rem 0.5625rem 0px rgba(0, 0, 0, 0.1);
    min-width: 100%;

    @include respond(sm) {}

    &:dir(rtl) {
      right: -15%;
    }

    @include respond(sm) {
      right: -30% !important;
    }
  }

  &__list {
    transition: height 0.3s ease-in-out;
    background: inherit;
    width: 100%;

    &-items {
      list-style: none;
      margin: 0;

      .user-info__list-item {
        padding: 0.625rem;
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.625rem;

        &:not(:last-child) {
          border-bottom: 1px solid var(--Dark-50);
        }

        &:hover {
          background-color: var(--Primary-primary, #6890df15);

          .user-info__list-item-text {
            color: white;
          }
        }

        .user-info__list-item-image {
          height: 1.25rem;
          width: 1.25rem;
          overflow: hidden;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .user-info__list-item-text {
          font-size: 0.75rem;
          color: var(--text-300, #47586e);
          font-size: 0.75rem;
          font-weight: 500;
        }
      }
    }
  }

  &__details--ar {
    direction: rtl;
  }

  &__details--en {
    direction: ltr;
  }

  @include respond(sm) {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__image-container {
      width: 2.83106rem;
      height: 2.83106rem;
      padding: 0.5rem;
      border-radius: 0.8045rem;
      border: 1.545px solid #c2ebde;
    }
  }
}

.login-btn {
  display: flex;
  padding: 0.6rem 0.7rem;
  align-items: center;
  gap: 0.375rem;
  align-self: stretch;
  border-radius: 1.25rem;
  background: var(--Dark-WHITE);
  text-align: start;
  color: var(--Primary-primary);
  font-size: 0.85rem;
}

// Utility class for screen reader only text
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}