.supervising-doctors-card {
    display: flex;
    gap: 1rem;
    height: 100%;
    cursor: pointer;

    &__details {
        display: flex;
        flex-direction: row;
        gap: 0.375rem;
        width: 100%;
        padding: 0.5rem;
        height: 100%;
        border-radius: 0.75rem;
        border: 1px solid var(--Dark-50);
    }
    &__actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
    &__recommend {
        display: flex;
        padding: 0.25rem 0.625rem;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        border-radius: 1rem;
        background: var(--Dark-50, #f6f7f8);
    }
    &__recommend {
        background: var(--Primary-50);
        p {
            font-weight: 500;
            font-size: 0.75rem;
            color: var(--Primary-primary, #0e39b6);
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: space-between;
        &-header {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0.625rem;
            padding: 0.25rem 0.75rem;
            gap: 1rem;
            border-radius: 0.5rem;
        }
    }
    &__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-inline: 0.75rem;

        &--features {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            &--feature {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
                align-items: center;
                p {
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: var(--text-300, #47586e);
                }
            }
        }
        &--rate {
            display: flex;
            flex-direction: row;
            gap: 0.125rem;
            p {
                color: var(--text-200, #a3adbb);
                font-weight: 400;
                font-size: 0.625rem;

                span {
                    color: var(--gold);
                    font-weight: 500;
                    font-size: 0.75rem;
                }
            }
        }
    }
    &__title {
        font-size: 1.125rem;
        color: var(--text-primary, #000);
        font-size: 0.875rem;
        font-weight: 600;
    }

    &__details {
        color: var(--text-100);
        font-size: 0.75rem;
        font-weight: 400;
    }

    &__thumbnail {
        width: 3.0625rem;
        height: 3.0625rem;
        border-radius: 0.75rem;
        overflow: hidden;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
