<div class="compelete-data-and-register-now" [ngClass]="{'isEmptyState': isEmptyState}">
  <!-- Icon -->
  <span class="compelete-data-and-register-now__icon">
    <img src="images/icons/logo-colored-gradient.svg" alt="Logo" />
  </span>

  <!-- Title -->
  <h2 class="compelete-data-and-register-now__title">
    {{ 'complete_registration_benefits' | translate }}
  </h2>

  <!-- Subtitle -->
  <p class="compelete-data-and-register-now__subtitle">
    {{ 'fill_your_data_personalized' | translate }}
  </p>

  <!-- Actions -->
  <div class="compelete-data-and-register-now__actions">
    <button type="button" class="btn btn--solid" (click)="Register()" [disabled]="logoutFacade.isLoading()"
      [attr.aria-label]="'start_now' | translate">
      <span class="btn__label">
        @if (logoutFacade.isLoading()) {
        <span role="status" aria-live="polite" aria-label="Loading, please wait">
          {{ 'in_progress' | translate }}
        </span>
        } @else {
        <span>{{ 'start_now' | translate }}</span>
        }
      </span>
    </button>
  </div>
</div>