<section class="recall-appointment">
  <div class="recall-appointment__status" role="status" aria-live="polite">
    <div class="recall-appointment__status__icon">
      <img src="images/icons/timeout-icon.png" alt="{{'searchWaitingDoctor.loadingAltText' | translate }}" width="100"
        height="100" loading="lazy" />
    </div>
    <div class="recall-appointment__status__content">
      <h2 class="recall-appointment__status__title">
        {{ title | translate }}
      </h2>
      <p class="recall-appointment__status__subtitle">
        {{ 'RecallAppointment.RequestNewAppointmentQuestion' | translate }}
      </p>
    </div>
  </div>

  <div class="recall-appointment--actions">
    <button id="cancel-btn" type="button" class="btn btn--outline" (click)="onCancelButtonClick()">
      {{ 'general.goToHome' | translate }}
    </button>
    <button [id]="'submitButtonId'" type="button" class="btn btn--solid" (click)="RecallAction()"
      [disabled]="isSubmitting" [attr.aria-busy]="isSubmitting" [attr.aria-label]="'recall'">
      <span class="recall-appointment__button__label">
        {{ 'general.reorder' | translate }}
      </span>
    </button>
  </div>
</section>