<div class="gift-cancel-modal-container">
    <div class="gift-cancel-modal">
        <img class="gift-cancel-modal__img" src="images/settings/gift/cancel.png" alt="cancel" />
        <div class="gift-cancel-modal__title">{{ translate('cancel_sent_gift_confirmation') }}</div>
        <div class="gift-cancel-modal__desc">{{ translate('cancel_sent_gift_notice') }}</div>
    </div>
    <button class="gift-cancel-modal__cancel" (click)="onCancelGift()" [disabled]="isLoading()"
        [ngClass]="{ 'disabled': isLoading() }">
        @if (isLoading()) {
        <div class="gift-cancel-modal__loading" aria-live="polite">
            {{ translate('in_progress') }}
            <span class="dot-loader"></span>
        </div>
        }
        @else {
        {{ translate('cancel') }}
        }
    </button>
</div>
