<div class="gift-cancel-modal-container">
    <div class="gift-cancel-modal">
        <img class="gift-cancel-modal__img" src="images/settings/gift/cancel.png" alt="cancel" />
        <div class="gift-cancel-modal__title">{{ 'gift.cancelModalTitle' | translate }}</div>
        <div class="gift-cancel-modal__desc">{{ 'gift.cancelModalDesc' | translate }}</div>
    </div>
    <button class="gift-cancel-modal__cancel" (click)="onCancelGift()" [disabled]="isLoading()"
        [ngClass]="{ 'disabled': isLoading() }">
        @if (isLoading()) {
        <div class="gift-cancel-modal__loading" aria-live="polite">
            {{ 'in_progress' | translate }}
            <span class="dot-loader"></span>
        </div>
        }
        @else {
        {{ 'gift.cancel' | translate }}
        }
    </button>
</div>