<div class="form-multi-select__select-item" role="group" [attr.aria-label]="ariaLabel"
  [ngClass]="{ 'form-multi-select__select-item--invalid': showError }">
  @if (formItem.inputWithIcon && formItem.inputIconPosition === 'start') {
  @switch (formItem.inputIconType) {
  @case (InputIconTypes.PRIMEICONS) {
  <i [class]="formItem.inputIcon + ' custom-input-wrapper__icon'"></i>
  }

  @case (InputIconTypes.IMAGE) {
  <img [src]="formItem.inputIcon" [alt]="formItem.label">
  }
  @case (InputIconTypes.SVG) {
  <span [innerHTML]="formItem.inputIcon"></span>
  }
  @default {
  <i class="default-icon-class"></i>
  }
  }
  }
  <p-multiSelect [options]="formItem.listValues || []" [group]="false" [formControl]="control" [loading]="false"
    [filterPlaceHolder]="'search'" [disabled]="true" [placeholder]="formItem.placeholder || ('Select' | translate)"
    [optionLabel]="formItem.optionLabel || 'label'" [optionValue]="formItem.optionValue || 'value'"
    [showToggleAll]="true" [filter]="true" display="chip" [showClear]="true" scrollHeight="250px" appendTo="body"
    [ngClass]="{ 'ng-invalid': showError }" panelClass="form-multi-select__panel"
    styleClass="form-multi-select__control">
    <ng-template let-group #group>
      <div class="view-item">
        <div>{{ group[formItem.optionLabel || 'label'] }}</div>
      </div>
    </ng-template>
    <ng-template #dropdownicon>
      <!-- <i class="pi pi-map"></i> -->
    </ng-template>
    <ng-template #filtericon>
      <i class="pi pi-search"></i>
    </ng-template>
  </p-multiSelect>
</div>