.notifications {
    padding: 0.75rem;
    border-radius: var(--Radius-12, 0.75rem);
    background: var(--Dark-WHITE, #feffff);
    margin-inline-end: 0.5rem;
    margin-top: 0;

    &__title {
        color: var(--text-300, #47586e);
        font-size: 0.875rem;
        font-weight: 600;
    }

    &__list {
        display: flex;
        padding-top: 0.75rem;
        flex-direction: column;
        justify-content: center;
        gap: 0.75rem;
    }
}
.padding-end {
    margin: 0.75rem 1rem;
}
