.tab {
  border-radius: 0.75rem;
  border: 1px solid var(--Dark-100, #eee);
  background: var(--Dark-WHITE, #fff);
  display: flex;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  transition: background 0.2s;
  color: var(--text-300, #47586e);
  text-align: right;
  font-size: 0.75rem;
  font-weight: 500;

  &:hover {
    background: var(--grey-200, #f2f2f2);
  }
}
