.doctor-card {
  display: flex;
  gap: 1rem;
  height: 100%;
  cursor: pointer;
  border-radius: var(--Radius-12, 0.75rem);
  border: 1px solid var(--Dark-50, #f6f7f8);
  padding: 0.75rem;
  background: var(--Dark-WHITE, #fff);

  &__details {
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    width: 100%;
    height: 100%;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__recommend {
    display: flex;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 1rem;
    background: var(--Dark-50);
    color: var(--text-main-color);
    font-size: 0.5rem;
    font-weight: 500;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;

    &-header {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.625rem;
    }
  }

  &__description {
    color: var(--text-300, #47586e);
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__title {
    color: var(--text-primary, #000);
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__details {
    color: var(--text-100);
    font-size: 0.75rem;
    font-weight: 400;

    .doctor-card__guest {
      color: black;
    }

    .doctor-card__name {
      color: black;
    }
  }

  &__thumbnail {
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 0.75rem;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    &--cost-date {
      &--cost {
        display: flex;
        align-items: center;
        gap: 0.125rem;

        p {
          color: var(--Primary-primary, #0e39b6);
          font-size: 0.875rem;
          font-weight: 600;
        }
      }
    }
  }

  .btn {
    display: flex;
    height: 2rem;
    padding: var(--Radius-8, 0.5rem) var(--Radius-16, 1rem);
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.375rem;
    background: var(--Primary-primary, #0e39b6);

    span {
      color: var(--Dark-WHITE, #fff);
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}
