.card {
    display: flex;
    padding: 1.5rem 3.0625rem;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid var(--Dark-50, #f6f7f8);
    background: linear-gradient(180deg, rgba(218, 226, 206, 0.2) 0%, rgba(236, 222, 192, 0.2) 100%), #fff;
    cursor: pointer;
    &__image {
        max-width: 4rem;
        max-height: 3.9375rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    &__title {
        color: var(--text-primary, #000);
        font-size: 1.125rem;
        font-weight: 600;
        margin: 0;
        text-align: center;
    }
}
