// otp-method-selection.component.scss
@use "./../../../../../common/styles/scss/abstracts/general-form-wrapper.mixins" as form;

.otp-method-selection {
  display: flex;
  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;

  &__container {
    width: 100%;
  }

  .general-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;

    &__groups {
      width: 100%;

      display: flex;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;

      border-radius: 0.75rem;
      background: var(--Dark-WHITE, #fff);
    }

    &__field {
      @include form.general-form-wrapper-field;
    }

    &__label-group {
      @include form.general-form-wrapper-label-group;
    }

    &__label {
      @include form.general-form-wrapper-label;
    }

    &__required {
      @include form.general-form-wrapper-required;
    }

    &__error-message {
      @include form.general-form-wrapper-error;
    }

    .form-field {
      @include form.general-form-field;
    }

    &__actions {
      @include form.general-form-wrapper-actions;
      display: flex;
      padding-top: 0.75rem;
      align-items: center;
      gap: 0.625rem;
      align-self: stretch;
      justify-content: end;
      flex-wrap: wrap;
    }
    &__loading {
      display: flex;
      align-items: center;
    }

    .dot-loader::after {
      content: "";
      animation: dots 1.5s steps(4, end) infinite;
      white-space: pre;
    }

    @keyframes dots {
      0% {
        content: "";
      }
      25% {
        content: ".";
      }
      50% {
        content: "..";
      }
      75% {
        content: "...";
      }
      100% {
        content: "";
      }
    }
  }
}
