@use "./../../../../../common/styles/scss/abstracts/mixins" as responsive;
@use "./../../../../../common/styles/scss/buttons/button.mixins" as btn;
@use "./../../../../../common//styles//scss//height/min-height" as min;
@use "./../../../../../common/styles/scss/abstracts/general-form-wrapper.mixins" as form;

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .btn {
    width: 100%;
    @include btn.button-base;
    @include btn.button-type("outline");
    @include btn.button-size("medium");
    @include btn.button-icon-position("left");
    @include btn.button-icon-size("medium");
    @include btn.button-color("main");
    @include btn.button-spinner;

    &__icon {
      display: inline-flex;
      align-items: center;
    }

    &__label {
      padding: 0 0.5rem;
      white-space: nowrap;
    }

    &--disabled {
      @include btn.button-disabled;
    }
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-title {
      font-weight: 600;
      font-size: 2rem;
      margin: 0;

      @include responsive.respond(sm) {
        font-size: 1.5rem;
      }
    }

    &-description {
      font-weight: 500;
      font-size: 14px;
      color: var(--text-300);
      margin: 0;

      @include responsive.respond(sm) {
        font-size: 0.8rem;
      }
    }
  }

  &__form {
    &__divider {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      p {
        color: var(--text-300);
        font-size: 12px;
        font-weight: 500;
      }

      &:dir(rtl) {
        svg {
          transform: scaleX(-1);
        }
      }

      @include responsive.respond(sm) {
        svg {
          width: 70px;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 1.5rem;
      align-items: flex-start;
      align-self: stretch;

      @include responsive.respond(sm) {
        gap: 1rem;
      }
    }
  }
}

.custom-input-wrapper {
  display: flex;
  padding: 0rem 16px;
  align-items: center;
  gap: 0.5rem;
  height: 3.125rem;
  color: #a3adbb;
  font-size: 0.875rem;
  border-radius: 0.75rem;
  color: var(--text-primary);
  // overflow: hidden;
  border: 1px solid var(--Dark-100);

  &.p-invalid {
    border: 1px solid var(--Danger-primary, red);
  }

  &.country-code-input {
    padding: 1rem;
  }

  &__icon {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 100%;

    &::placeholder {
      color: #a3adbb !important;
      font-size: 0.875rem !important;
      font-weight: 500 !important;
    }
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;

    &::placeholder {
      color: #a3adbb;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  &.disabled-input {
    background-color: #f5f5f5 !important;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
    border-radius: var(--Radius-12, 0.75rem);
    overflow: hidden;
  }

  &--with-icon {
    gap: 0.5rem;
  }

  &--icon-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .custom-input-wrapper__icon {
      order: 0;
    }
  }
}

.general-form-wrapper__error-message {
  @include form.general-form-wrapper-error;
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.125rem;
  gap: 1rem;
  width: 100%;

  ::ng-deep {
    .p-iconwrapper {
      margin-inline-start: 0rem !important;
    }
  }
}

.flag {
  width: 1.25rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: fill;
}

#login::ng-deep {
  .p-select {
    &.country-code-input-select {
      border: none !important;
    }

    min-width: 100px !important;
    max-width: 120px !important;
    border: 1px solid var(--Dark-100) !important;
    box-shadow:
      0 0 transparent,
      0 0 transparent,
      0 1px 2px 0 transparent !important;
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: var(--Radius-12, 0.75rem);
    padding-inline-end: 1rem;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 70%;
      background-color: var(--Dark-100);
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:dir(rtl) {
      &::after {
        right: initial !important;
        left: 5px !important;
      }
    }
  }

  .p-select-dropdown {
    justify-content: end !important;
  }

  .p-select-list-container {
    min-width: 250px !important;
  }

  .flag {
    border-radius: 50%;
    width: 20px;
    aspect-ratio: 1/1;
  }
}

.dots-loader {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  gap: 0.1875rem;
  z-index: 10;

  .dot {
    width: 0.375rem;
    height: 0.375rem;
    background-color: rgba(128, 128, 128, 0.486);
    border-radius: 50%;
    opacity: 0.3;
    animation: blink 1.4s infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.3;
  }

  40% {
    opacity: 1;
  }
}

.general-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__groups {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
  }

  &__field {
    @include form.general-form-wrapper-field;
  }

  &__label-group {
    @include form.general-form-wrapper-label-group;
    color: var(--Dark-DARK, #1d1f1f);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__label {
    @include form.general-form-wrapper-label;
  }

  &__required {
    @include form.general-form-wrapper-required;
  }

  &__actions {
    @include form.general-form-wrapper-actions;
    justify-content: end;
    flex-direction: column;

    .btn {
      width: 100%;

      &--solid-gradient {
        display: flex;
        padding: 0.875rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 1rem;
        border: 1px solid #5c9dff;
        background: linear-gradient(
          103deg,
          var(--Primary-100, #dbe1f4) -21.22%,
          var(--Primary-primary, #0e39b6) 118.08%,
          #3579ff 118.08%
        );
        box-shadow:
          0 4px 4px -2px rgba(255, 250, 247, 0.3) inset,
          0 12px 32px 3px rgba(11, 96, 255, 0.25);
        cursor: pointer;
        transition:
          transform 140ms ease,
          box-shadow 140ms ease;
        color: var(--white-100, #fffaf7);
        text-shadow: 0 0.5px 0.5px rgba(25, 22, 20, 0.15);
        font-size: 1rem;
        font-weight: 500;
        align-self: center;

        &:hover {
          transform: translateY(-2px);
        }

        &:focus {
          outline: 3px solid rgba(99, 102, 241, 0.16);
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
          transform: none;
        }
      }
    }
  }
}
