@use "../../../../common/styles/scss/abstracts/mixins" as *;
.language {
    &-toggle {
        button {
            display: flex;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.5rem;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
            border-radius: 50%;
            background-color: var(--Dark-WHITE);
            @include respond(sm) {
                padding: 0.5rem 0.57rem;
                p {
                    display: none;
                }
            }
        }
        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 1.25rem;
            height: 1.25rem;
            gap: 0.5rem;
            border-radius: 50%;
            outline: 0.25rem solid var(--Dark-50, #f6f7f8);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
