.wallet-card {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 0.5rem 1rem 1rem;
  border: 1px solid var(--Dark-50, #f6f7f8);
  border-radius: 1rem;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.375rem;
    width: 100%;
  }

  &__status-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125rem;
    padding: 0.25rem 0.625rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__tracking {
    position: relative; // Needed for tooltip positioning
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;

    &-number {
      font-size: 0.875rem;
      font-weight: 500;
      color: #0e39b6;
    }
  }

  &__tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    animation: fadeIn 0.2s forwards;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 4px;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }


  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__price-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    &-label {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--Text-400, #0f0f0f);
    }

    &-amount {
      font-size: 0.875rem;
      font-weight: bold;

      &--withdrawal {
        color: #B80924;
      }

      &--shipping {
        color: #00AF6C;
      }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    padding-top: 0.75rem;
  }

  &__date-info,
  &__time-info {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__date,
  &__time {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--Text-400, #0f0f0f);
  }
}