<div class="doctor-bio">
  <div class="doctor-bio--description">
    <span>
      🎯
    </span>
    <p>
      {{item?.bio}}
    </p>
  </div>
  <div class="doctor-bio--subspecialties">
    <p class="doctor-bio--subspecialties--title">
      <span>
        🎯
      </span>
      <span>
        {{ translate("minor_specialties2") }}

      </span>
    </p>
    <div class="doctor-bio--subspecialties--list">
      @for (specialtiy of item?.last_services; track $index) {
      <div class="doctor-bio--subspecialties--list--specialization">
        <p>
          {{specialtiy?.title || ''}}
        </p>
      </div>
      }
    </div>
  </div>
</div>