.doctor-bio {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &--description {
    display: flex;
    gap: 0.125rem;
    color: var(--text-400, #0f0f0f);
    font-size: 0.75rem;
    font-weight: 400;

    color: var(--text-400, #0F0F0F);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    flex: 1 0 0;
  }

  &--subspecialties {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &--title {
      color: var(--text-300, #47586E);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.015rem;
    }

    &--list {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;

      &--specialization {
        display: flex;
        padding: 0.25rem 0.75rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        border-radius: 0.75rem;
        background: var(--Dark-50, #F6F7F8);

        p {
          color: var(--text-400, #0F0F0F);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}