@use "../../../../common/styles/scss/abstracts/mixins" as *;
@use "../../../../common/styles/scss/utils/helpers" as *;

.book-appointment {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  padding-top: 0;

  &__container {
    display: flex;
    gap: 0.75rem;
    padding-inline-end: 0.425rem;
    align-items: flex-start;

    @include respond(md) {
      flex-direction: column;
    }
  }

  &--information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
    align-self: stretch;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);

      & > :first-child {
        grid-column: 1 / -1;
      }
    }
  }

  &--packages {
    display: flex;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    gap: 0.75rem;
    align-self: stretch;

    border-radius: 1rem;
    background: var(--Dark-WHITE, #fff);

    &-title {
      color: var(--text-400, #0f0f0f);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      @media (min-width: 1300px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-item {
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      gap: 0.5rem;
      flex: 1 0 0;

      border-radius: 0.75rem;
      border: 1px solid var(--Dark-50, #f6f7f8);

      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }
    }

    &-details {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;

      &-image {
        width: 3.3125rem;
        height: 3.3125rem;
        align-self: stretch;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      &-texts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-item {
          display: flex;
          gap: 0.5rem;

          label,
          span {
            overflow: hidden;
            color: var(--text-300, #47586e);
            text-align: right;
            text-overflow: ellipsis;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          &--bold {
            label,
            span {
              color: var(--text-400, #0f0f0f);
              font-weight: 600;
            }
          }
        }
      }
    }

    &-remaining {
      display: flex;
      padding: 0.25rem 0.5rem;
      align-items: center;
      align-self: stretch;
      justify-content: center;

      gap: 0.25rem;
      border-radius: 0.5rem;
      background: var(--Primary-50, #e7ebf8);

      &-icon {
        display: flex;
        align-items: center;
      }

      &-label {
        color: var(--Primary-primary, #0e39b6);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  &--details {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    gap: 0.75rem;
    align-self: stretch;
    border-radius: 1rem;
    background: #fff;
  }

  &--tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1 0 0;
    position: sticky;
    top: 0;
    align-self: flex-start;

    @include respond(md) {
      position: relative;
    }

    @include respond(sm) {
      width: 100%;
    }
  }

  &__left-side {
    width: 22rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    align-self: flex-start;

    @include respond(md) {
      position: relative;
      width: 100%;
    }

    &--new-reservation {
      display: flex;
      padding: 0.75rem;
      flex-direction: column;
      gap: 1rem;
      align-self: stretch;
      border-radius: 1rem;
      background: #fff;
      flex: 1 0 0;

      .title {
        font-size: 0.75rem;
        font-weight: 500;
        color: #0f0f0f;
      }
    }
  }
}

.doctor-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  @include respond(sm) {
    gap: 0.5rem;
  }

  &__item {
    display: block;
    transition:
      transform 220ms ease,
      opacity 220ms ease;
  }
}

.doctor-cards-carousel {
  position: relative;
  display: block;
}

.carousel-controls {
  display: none;
  position: relative;
  width: auto;
  height: auto;
  gap: 0.5rem;
}

.carousel-controls__btn {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1rem;
  background: var(--Primary-50, #e7ebf8);
  color: var(--Primary-primary, #0e39b6);
  cursor: pointer;
}

.carousel-controls__btn:disabled {
  opacity: 0.35;
  background: var(--Dark-50, #f6f7f8);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .carousel-controls {
    display: flex;
  }

  .doctor-cards-grid {
    display: block;
  }

  .doctor-cards-grid__item.active {
    display: block;
  }
}

@media (min-width: 769px) {
  .carousel-controls {
    display: flex;
  }

  .doctor-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  .doctor-cards-grid__item {
    display: block !important;
  }
}
