.need-support-card {
    border-radius: var(--Radius-12, 0.75rem);
    background: var(--Gray-White, #feffff);
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    &__content {
        display: flex;
        padding: 0.75rem 0rem;
        flex-direction: column;
        gap: 0.5rem;
        &__title {
            color: var(--text-primary, #000);
            font-size: 0.75rem;
            font-weight: 500;
            display: flex;
        }
        &__actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            button {
                display: flex;
                padding: 0.25rem 0.5rem;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.75rem;
                background: var(--Dark-50, #f6f7f8);
                &:first-child,
                &:last-child {
                    p {
                        font-size: 0.75rem;
                        font-weight: 600;
                    }
                }
                &:first-child {
                    p {
                        color: #006981;
                    }
                }
                &:last-child {
                    p {
                        color: #1f8f93;
                    }
                }
            }
        }
    }
}
