<div class="need-support-card">
  <div class="need-support-card__content">
    <div class="need-support-card__content__title">
      <app-svg-icon name="support-action-community-icon" />
      <p>
        {{"status_needs_support_connect_with_someone"|translateApi}}
      </p>
    </div>
    <div class="need-support-card__content__actions">
      <button (click)="goToBookAppointment('BookAppointment')">
        <app-svg-icon name="book-appointment" />
        <p>
          {{"book_a_session"|translateApi}}
        </p>
      </button>
      <button (click)="goToTalbinahBot()">
        <app-svg-icon name="talbinah-bot" />
        <p>
          {{"chat_with_the_bot"|translateApi}}
        </p>
      </button>
    </div>
  </div>
</div>