<div class="need-support-card">
  <div class="need-support-card__content">
    <div class="need-support-card__content__title">
      <app-svg-icon name="support-action-community-icon" />
      <p>
        {{"talbinahCommunity.support_message"|translate}}
      </p>
    </div>
    <div class="need-support-card__content__actions">
      <button (click)="goToBookAppointment('BookAppointment')">
        <app-svg-icon name="book-appointment" />
        <p>
          {{"talbinahCommunity.book_session"|translate}}
        </p>
      </button>
      <button (click)="goToTalbinahBot()">
        <app-svg-icon name="talbinah-bot" />
        <p>
          {{"talbinahCommunity.talk_to_bot"|translate}}
        </p>
      </button>
    </div>
  </div>
</div>