<div class="mental-health-scale-list-card mental-health-scale-list-card">

    <div class="mental-health-scale-list-card__content">

        <div class="mental-health-scale-list-card__image">
            <div class="mental-health-scale-list-card__image"></div>
        </div>

        <div class="mental-health-scale-list-card__info">
            <h3 class="mental-health-scale-list-card__title">
                <span class="mental-health-scale-list-card__title--details">
                    <div class="mental-health-scale-list-card__title"></div>
                </span>
                @if (type==cardType.DETAILS) {
                <div class="mental-health-scale-list-card__price"></div>
                }
            </h3>
            <p class="mental-health-scale-list-card__description mental-health-scale-list-card__text-line short"></p>
        </div>
    </div>
</div>