@use "../../../../../common/styles/scss/abstracts/mixins" as *;
@use "../../../../../common/styles/scss/buttons/button.mixins" as btn;

.verification {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .btn {
    @include btn.button-base;
    @include btn.button-type("solid");
    @include btn.button-size("medium");
    @include btn.button-icon-position("left");
    @include btn.button-icon-size("medium");
    @include btn.button-color("main");
    @include btn.button-spinner;

    &__icon {
      display: inline-flex;
      align-items: center;
    }

    &__label {
      padding: 0 0.5rem;
      white-space: nowrap;
    }

    &--disabled {
      @include btn.button-disabled;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__welcome-title {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    color: var(--Dark-BG, #1d1f1f);

    @include respond(sm) {
      font-size: 1.5rem;
    }
  }

  &__welcome-description {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-300);
    margin: 0;

    @include respond(sm) {
      font-size: 0.75rem;
    }
  }

  &__code-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__code-text {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__code-text-message {
    color: #1d1f1f;
    font-size: 0.875rem;
    font-weight: 400;
  }

  &__code-phone-number {
    font-weight: 700;
  }

  &__code-edit-link {
    color: var(--text-300);
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
  }

  &__resend-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  &__resend-message {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--text-300);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__resend-link {
    color: var(--text-main-color);
    cursor: pointer;
  }

  &__resend-text {
    color: var(--text-300);
  }

  &__button-container {
    width: 100%;
  }
  &__button-loading {
    display: flex;
    align-items: center;

    .dot-loader::after {
      content: "";
      animation: dots 1.5s steps(4, end) infinite;
      white-space: pre;
    }

    @keyframes dots {
      0% {
        content: "";
      }
      25% {
        content: ".";
      }
      50% {
        content: "..";
      }
      75% {
        content: "...";
      }
      100% {
        content: "";
      }
    }
  }

  .error {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    .error__message {
      color: var(--Danger-600, #ca4146);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
.error__message {
  color: var(--Danger-600, #ca4146);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
