@use "../../../../common/styles/scss/abstracts/mixins" as *;

.podcast-details {
  @include flex-box(column, 0, center, center);
  height: 100%;
  padding: 1rem;
  padding-top: 0;
  @include respond(sm) {
    padding: 0rem;
  }
  &__card {
    position: relative;
    @include flex-box(column, 0, null, null);
    gap: 1.5rem;
    border-radius: 0.625rem;
    background: var(--Dark-WHITE);
    padding: 1rem;
    width: 100%;
    height: 100%;

    @include respond(sm) {
      padding: 0rem;
    }
    &--fullscreen {
      max-width: 100vw;
      max-height: 100vh;
    }
  }

  &__content {
    @include flex-box(row, 0.75rem, null, null);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    &--media-only {
      @include flex-box(column, 0, null, null);
    }

    @include respond(xs) {
      @include flex-box(column, 0, null, null);
    }
  }

  &__info {
    flex: 1;
    overflow-y: auto;

    @include respond(sm) {
      display: none;
    }
  }

  &__media {
    flex: 2;
    position: sticky;
    top: 0;
    width: 100%;

    @include respond(sm) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @include respond(sm) {
      display: block;
    }
  }
}
