.session-details-modal {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  padding-top: 0;

  &_container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-block-end: 1rem;
    padding-inline-end: 0.425rem;
  }
}