@use "../../../../common/styles/scss/abstracts/mixins" as *;

.main-page-shemmer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .right {
        flex: 2;
    }
    .right,
    .left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .left {
        flex: 1;
        min-width: 18.75rem;
        max-width: 20rem;
    }
    @include respond(lg) {
        flex-direction: column;
        .left {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}
