.appointment-session-history-card {
  display: flex;
  padding: 0.75rem 1.5rem;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;

  border-radius: 1rem;
  background: var(--Dark-white, #fff);

  &__title {
    color: var(--text-primary, #000);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem 2rem;
  }

  &__item {
    display: flex;
    padding: 0.5rem 0.75rem;
    flex-direction: row;
    gap: 0.5rem;
    flex: 1 0 0;

    border-radius: 0.75rem;
    border: 1px solid var(--Dark-50, #f6f7f8);

    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.1875rem;
      height: 2.1875rem;

      border-radius: 0.75rem;

      img {
        width: 2.1875rem;
        height: 2.1875rem;
        aspect-ratio: 1/1;
      }
    }
  }

  &__label {
    color: var(--text-300, #47586e);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__value {
    color: var(--text-300, #47586e);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
