@use "./../../../../common/styles/scss/abstracts/general-form-wrapper.mixins" as form;
@use "./../../../../common/styles/scss/abstracts/mixins" as *;

.available-packages-storing {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 0;

  &__container {
    width: 100%;

    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    gap: 0.75rem;
    align-self: stretch;

    border-radius: 1rem;
    background: var(--Dark-WHITE, #FFF);
  }

  &____labels {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
  }

  &__number {
    color: #0e39b6;
    font-weight: 700;
    font-size: 1rem;
  }

  &__steps-label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;

    color: var(--text-300, #47586E);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__actions {
    @include form.general-form-wrapper-actions;
    justify-content: flex-end; // Use flex-end for better alignment
    gap: 0.5rem;

    .btn {
      width: auto;
    }
  }
}