.appointment-cancellation-card {
  display: flex;
  padding: 0.75rem 1.5rem;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;

  border-radius: 1rem;
  background: var(--Dark-white, #fff);

  &__title {
    color: var(--text-primary);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25rem 2rem;
  }

  &__item {
    display: flex;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 0 0;
  }

  &__label {
    display: flex;
    align-items: start;
    gap: 0.25rem;
    color: var(--text-300, #47586e);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
