<div class="notifications-settings-modal">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="notifications-settings-modal__form">
    <div class="notifications-settings-modal__groups">
      @for (method of methodOptions; track $index) {
      <div class="notifications-settings-modal__group">
        <label class="notifications-settings-modal__option" [for]="method.name">
          <div class="notifications-settings-modal__icon-label">
            <img appLazyLoadImage="{{ method.icon }}" [alt]="method.label " loading="lazy"
              class="notifications-settings-modal__icon" width="24" height="24"
              placeholder="images/icons/message-text.svg" />

            <div class="notifications-settings-modal__texts">
              <span class="notifications-settings-modal__label">
                {{ method.label  }}
              </span>
              <span class="notifications-settings-modal__description">
                {{ method.description  }}
              </span>
            </div>
          </div>

          <div class="notifications-settings-modal__toggle">
            <input type="checkbox" class="notifications-settings-modal__checkbox" [formControlName]="method.name"
              [id]="method.name" [attr.aria-label]="method.label " />
            <span class="notifications-settings-modal__switch" aria-hidden="true"></span>
          </div>
        </label>
      </div>
      }
    </div>

    <div class="notifications-settings-modal__actions">
      <button type="submit" class="btn btn--solid" [disabled]="facade.isLoading()"
        [attr.aria-label]="'save' ">
        @if (facade.isLoading()) {
        {{ translate('in_progress') }}
        } @else {
        {{ translate('save') }}
        }
      </button>
    </div>
  </form>
</div>
