<div class="complaint-skeleton">
    @for (item of [].constructor(count); track $index) {
    <div class="complaint-skeleton__card">
        <div class="complaint-skeleton__header">
            <div class="complaint-skeleton__id"></div>
            <div class="complaint-skeleton__status"></div>
        </div>

        <div class="complaint-skeleton__content">
            <div class="complaint-skeleton__title-section">
                <div class="complaint-skeleton__icon"></div>
                <div class="complaint-skeleton__title"></div>
            </div>

            <div class="complaint-skeleton__date">
                <div class="complaint-skeleton__date-icon"></div>
                <div class="complaint-skeleton__date-text"></div>
            </div>
        </div>
    </div>
    }
</div>