@use "./../../../../common/styles/scss/abstracts/mixins" as *;

.invitation-code-modal {
  display: flex;
  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;

  &__container {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    border-radius: 0.75rem;
    background: var(--Dark-WHITE, #fff);
  }

  &__image {
    width: 8.0625rem;
    height: 8.0625rem;
    aspect-ratio: 1/1;

    border-radius: 0.25rem;
  }

  &__title {
    color: var(--text-400, #0f0f0f);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
  }

  &__subtitle {
    color: var(--text-300, #47586e);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  &__code-label {
    color: var(--text-primary, #000);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
  }

  &__copy-btn {
    display: flex;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.75rem;
    border: 1px solid var(--Primary-primary, #0e39b6);
    background: var(--Primary-50, #e7ebf8);

    &--value {
      color: var(--Primary-300, #0d33a4);
      text-align: center;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    &--icon {
      display: flex;
      width: 1.25rem;
      height: 1.25rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__share-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
