@use "./../../../common/styles/scss/abstracts/mixins" as *;

.emoji-picker {
    padding: 0.75rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.75rem;
    background: var(--Dark-WHITE, #fff);
    width: 21.875rem;
    overflow-y: auto;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    &__search {
        width: 100%;
        padding-inline-start: 1.875rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        font-size: 0.75rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;

        &::placeholder {
            color: var(--text-300) !important;
            font-size: 0.75rem !important;
        }
        &--wrapper {
            position: relative;
            display: flex;
            align-items: center;
        }
        &--icon {
            position: absolute;
            left: 0.5rem;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            fill: var(--text-300);
            &:dir(rtl) {
                right: 0.5rem;
                left: initial;
            }
        }
    }
    &__no-results {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        p {
            text-align: center;
            color: var(--text-300);
            font-size: 0.85rem;
        }
    }
    &__categories {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        margin: 0.75rem 0;
    }

    &__category {
        background: var (--Gray-White);
        padding: 0.2rem 0.6rem;
        font-size: 0.75rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;

        &--active {
            background: var(--Primary-primary);
            color: var(--Dark-WHITE);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
        gap: 0.4rem;
        max-height: 6.25rem;
        overflow-y: auto;
    }

    &__emoji {
        font-size: 1.1rem;
        padding: 0.25rem;
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
            background: var(--Gray-White);
            border-radius: 0.5rem;
        }
    }
}
