.setting-faqs {
    margin-inline: 1rem;

    &__container {
        display: flex;
        padding: 0.75rem;
        flex-direction: column;
        gap: 0.75rem;
        border-radius: 1rem;
        background: var(--Dark-WHITE, #fff);
        margin-bottom: 1rem;
        margin-inline-end: 0.5rem;
        &--selected {
            background-color: transparent;
            padding: 0;
            padding-bottom: 1rem;
        }
        &--cards {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            padding-inline-end: 0.5rem;
        }
        &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;

            &--title {
                color: var(--text-300, #47586e);
                font-size: 0.75rem;
                font-weight: 500;
            }
            &--search {
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }
        }
    }
}
