.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-50, #f7f7f7);
    background: var(--Dark-WHITE, #fff);
    padding: 0.375rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;
        border-radius: 50%;
        background: var(--Dark-50, #f6f7f8);
        &__icon {
            border-radius: 50%;
            width: 1.25rem;
            height: 1.25rem;
            overflow: hidden;
            padding: 0.25rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
