.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &__overlay {
        background-color: #344054b2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    &__card {
        background: white;
        padding: 20px;
        z-index: 100;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        width: 32rem;
        margin: 10px;

        p {
            color: #040a4d;
            font-weight: 500;
            font-size: 1rem;
            text-align: center;
        }
    }
}
