.program-subscription-information-card {
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        &.details {
            flex-direction: column;
        }
    }
    &__image {
        width: 4.0625rem;
        height: 4.0625rem;
        border-radius: 0.5rem;
        flex-shrink: 0;
        img {
            height: 100%;
            width: 100%;
        }
        overflow: hidden;
        &.details {
            width: 100%;
            height: 6rem;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        p {
            color: var(--text-400);
            font-size: 0.75rem;
            font-weight: 600;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem 0.625rem;
        gap: 0.125rem;
        border-radius: 1rem;
        background: var(--Primary-50);
        p {
            color: var(--Primary-primary);
            font-size: 0.75rem;
            font-weight: 600;
        }
    }

    &__price-container {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__original-price {
        color: var(--text-300, #47586e);
        font-size: 0.625rem;
        font-weight: 400;
        text-decoration: line-through;
        opacity: 0.7;
    }

    &__current-price {
        color: var(--Primary-primary);
        font-size: 0.75rem;
        font-weight: 600;
        margin: 0;
    }
    &__description {
        max-width: 25rem;
        p {
            color: var(--text-300, #47586e);
            font-size: 0.75rem;
            font-weight: 400;
        }
    }
}
