.all-mental-health {
    margin-inline: 1rem;
}
.all-mental-health-container {
    padding: 1rem;
    margin-inline-end: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--Dark-WHITE);
    border-radius: 12px;
}
