.wallet-header {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  border-radius: 1.25rem;
  display: flex;
  padding: 0.225rem 1rem 0.225rem 0.25rem;
  background: linear-gradient(270deg, rgba(161, 237, 233, 0.50) 0%, rgba(210, 245, 242, 0.50) 100%);

  cursor: pointer;

  &:dir(rtl) {
    padding: 0.225rem 0.25rem 0.225rem 1rem;
  }

  &__icon {
    display: flex;
    background: var(--Warning-50, #faf4eb);
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
  }

  &__value {
    display: flex;
    flex-direction: column;

    p {
      &:first-child {
        color: var(--text-dark);
        font-size: 0.5rem;
        font-weight: 500;
      }

      &:last-child {
        color: var(--text-dark);
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
  }
}