.subscribe-successfully {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    &--content {
        display: flex;
        padding: 0.75rem;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.75rem;
        background: var(--Dark-WHITE);
        gap: 1rem;
    }
    &--btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.75rem;
        .next {
            display: flex;
            height: 2.75rem;
            padding: var(--Radius-8) 2rem;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            border-radius: var(--Radius-8);
            font-size: 0.875rem;
            font-weight: 500;

            background: var(--Primary-primary);
            color: var(--Dark-WHITE);
        }
    }
    &--text {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        p {
            &:first-child {
                color: var(--text-400);
                font-size: 0.875rem;
                font-weight: 600;
            }
            &:last-child {
                color: var(--text-200);
                font-size: 0.75rem;
                font-weight: 500;
            }
        }
    }
    &--img {
        width: 4.1rem;
        height: 3.75rem;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
