<div class="subscribe-successfully">
    <div class="subscribe-successfully--content">
        <div class="subscribe-successfully--text">
            <p>تم الاشتراك بمجموعة الدعم بنجاح</p>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
        </div>
        <div class="subscribe-successfully--img">
            <img src="images/supportGroups/icons/successful.svg" alt="successful">
        </div>
    </div>
    <div class="subscribe-successfully--btn">
        <button id="next-btn" type="button" class="next btn--solid" (click)="onConfirm()">
            {{ 'confirm_subscription' | translateApi }}
        </button>
    </div>
</div>