@use "../../../../common/styles/scss/abstracts/mixins" as *; // Assuming path to your mixins
@use "../../../../common/styles/scss/abstracts/variables" as *; // Assuming path to your variables
@use "./../../../../common/styles/scss/buttons/button.mixins" as btn;

.draggable-card-list {
  // BEM Block: Main container for the draggable list
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0 1rem 1rem 1rem;
  padding-inline: 0.5rem;

  .btn {
    @include btn.button-base;
    @include btn.button-size("medium");
    @include btn.button-icon-position("left");
    @include btn.button-icon-size("medium");
    @include btn.button-color("main");
    @include btn.button-spinner;

    width: auto;

    &__icon {
      display: inline-flex;
      align-items: center;
    }

    &__label {
      padding: 0 0.5rem;
      white-space: nowrap;

      .loading {
        display: flex;
        align-items: center;

        .dot-loader::after {
          content: "";
          animation: dots 1.5s steps(4, end) infinite;
          white-space: pre;
        }

        @keyframes dots {
          0% {
            content: "";
          }

          25% {
            content: ".";
          }

          50% {
            content: "..";
          }

          75% {
            content: "...";
          }

          100% {
            content: "";
          }
        }
      }
    }

    &--disabled {
      @include btn.button-disabled;
    }

    // Add variants
    &--solid {
      @include btn.button-type("solid");
    }

    &--outline {
      @include btn.button-type("outline");
    }

    &--ghost {
      @include btn.button-type("ghost");
    }

    &--link {
      @include btn.button-type("link");
    }
  }

  &__container {
    // BEM Element: The area where items can be dropped
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.75rem;
    align-self: stretch;
    flex-wrap: wrap;
    box-sizing: border-box; // Include padding in width/height

    &.cdk-drop-list-dragging .draggable-card-list__item:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  &__heading-name {
    color: var(--text-300, #47586e);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  // Styles for SSR/no JavaScript content
  &__ssr-content {
    text-align: center;
    padding: 2rem;
    color: var(--color-text-secondary, #666); // Example variable usage
  }

  &__static-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    app-draggable-card {
      flex: 0 0 calc(33.333% - 0.666rem);
      box-sizing: border-box;
    }
  }

  &__no-items {
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--text-300, 47586E); // Example variable usage
    svg {
      width: 3.125rem;
    }
  }

  // Responsive adjustments for the card layout
  @include respond(md) {
    .draggable-card-list__item {
      width: calc(33.333% - 0.5rem); // Three cards per row
    }

    .draggable-card-list__item--placeholder {
      width: calc(33.333% - 0.5rem); // Three cards per row for placeholder
    }

    .draggable-card-list__static-items app-draggable-card {
      width: calc(33.333% - 0.5rem); // Three cards per row
    }
  }

  @include respond(xs) {
    .draggable-card-list__item {
      width: calc(50% - 0.5rem); // Two cards per row
    }

    .draggable-card-list__item--placeholder {
      width: calc(50% - 0.5rem); // Two cards per row for placeholder
    }

    .draggable-card-list__static-items app-draggable-card {
      width: calc(50% - 0.5rem); // Two cards per row
    }
  }

  // @include respond(xs) {
  //   .draggable-card-list__item {
  //     width: 100%; // Single card per row
  //   }
  //   .draggable-card-list__item--placeholder {
  //     width: 100%; // Single card per row for placeholder
  //   }
  //   .draggable-card-list__static-items app-draggable-card {
  //     width: 100%; // Single card per row
  //   }
  // }

  &__actions {
    display: flex;
    justify-content: end;
    gap: 0.75rem;
    align-items: center;
  }
}
