.call-type-selector {
  display: flex;
  padding: 0.375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  background: var(--Primary-50, #E7EBF8);
  cursor: pointer;


  &__button {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    cursor: pointer;

    padding: 0;
    margin: 0;
    border: none;
    outline: none;

    &:active {
      transform: translateY(0); // Reset on click
      box-shadow: none;
    }

    // Modifiers for specific button types (if different styling is needed)
    &--audio {
      // Specific styles for audio button if any, e.g., a subtle blue tint
      // background-color: #e6f0ff;
      // color: #0056b3;
    }

    &--video {
      // Specific styles for video button if any, e.g., a subtle green tint
      // background-color: #e6ffe6;
      // color: #28a745;
    }
  }

  &__icon {
    display: flex;
    width: 1rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
  }
}